<tr>
                          <th>应用类型</th>
                          <th>应用名称</th>
                          <th>代码大小</th>
                          <th>图片数量</th>
                          <th>文档数量</th>
                          <th>应用简介</th>
                        </tr>
{{foreach from=$productlist.products.product item=rs}}
<tr>
  <td>{{$rs.typename}}</td>
  <td>{{$rs.name}}</td>
  <td>{{if $is_submit!="Y"}}<a href="/api/product?app_id={{$appinfo.id}}&action=upload&type=code&product={{$rs.name}}" target="_blank" class="neecchangebyte">{{$rs.codesize}}</a>{{else}}<span class="neecchangebyte">{{$rs.codesize}}</span>{{/if}}</td>
  <td>{{if $is_submit!="Y"}}<a href="/api/product?app_id={{$appinfo.id}}&action=upload&type=imgs&product={{$rs.name}}" target="_blank" >{{$rs.imgscount}}</a>{{else}}<span class="neecchangebyte">{{$rs.imgscount}}</span>{{/if}}</td>
  <td>{{if $is_submit!="Y"}}<a href="/api/product?app_id={{$appinfo.id}}&action=upload&type=docs&product={{$rs.name}}" target="_blank" >{{$rs.docscount}}</a>{{else}}<span class="neecchangebyte">{{$rs.docscount}}</span>{{/if}}</td>
  <td>{{$rs.summary}}</td>
</tr>
{{/foreach}}
<script type="text/javascript">
  $(document).ready(function(){
    $(".neecchangebyte").each(function(){
      //alert(bytesToSize(Number($(this).text()))+":"+$(this).text());
      $(this).text(bytesToSize(Number($(this).text())));
    });
  });
</script>