{{include  file="$smarty_root/header.html" }}




<!-- =============================================== -->
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    
    <div class="row">
        <div class="col-md-12 text-center"><h2><span class="logo-lg"><b>App</b>Link</span>
应用市场</h2></div>
        <div class="col-md-4 col-md-offset-4">
            <div  class="form-group">
                  <input class="form-control text-center" type="text-center" placeholder="输入关键字查找应用" id="txtSearch" style="width:100%;" id="txtPrice" />
            </div>
        </div>
        <div class="col-md-6 col-md-offset-3">
        <h3>什么是AppLink应用？
        <a href="/apps" class="pull-right" style="font-size: 50%;"><i class="fa fa-plus"></i> 创建应用</a> 
        <a class="pull-right" href="/market/submit" style="font-size: 50%;"><i class="fa fa-plus"></i> 提交应用</a>
        </h3>
        <p>AppLink的应用就是开发者上传的一套项目解决方案，你通过购买应用并且根据开发者的安装向导就可以得到一个面向多平台多行业的APP解决方案。最终，根据你的需求，可以实现二次开发的一些定制化，提供给你或者你的客户，帮助你快速完成项目的开发。</p>
        </div>
    </div>
    <div class="row ">
        <div class="col-md-12 margin">
            <div class="row">
                <div class="col-md-9 ">
                    <h4>应用类型</h4>
                    {{foreach from=$app_type_list item=rs}}
                    <button class="btn btn-flat app_type" value="{{$rs.id}}" style="margin-bottom: 5px;" >&nbsp;{{$rs.name}}</button>
                    {{/foreach}}
                </div>
                <div class="col-md-3 ">
                    <h4>排序方式</h4>
                    <div class="btn-group"  >
                      <button type="button" class="btn btn-default btn-flat" id="btnOrder" value="buy">最多购买</button>
                      <button type="button" class="btn btn-default btn-flat dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">排序方式</span>
                      </button>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="javascript:return;" class="orderbtn" value="buy">最多购买</a></li>
                        <li><a href="javascript:return;" class="orderbtn" value="update">最近更新</a></li>
                        <li><a href="javascript:return;" class="orderbtn" value="score">评分最高</a></li>
                          <li><a href="javascript:return;" class="orderbtn" value="price">价格最低</a></li>
                      </ul>
                    </div>

                </div>
                <div class="col-md-9 ">
                    <h4>应用分类</h4>
                    {{foreach from=$producttype item=rs key=key}}
                    <button class="btn btn-flat product_type" value="{{$key}}" style="margin-bottom: 5px;">&nbsp;{{$rs}}</button>
                    {{/foreach}}
                </div>
            </div>
        </div>
    </div>
    <div class="row margin">
        <div class="col-md-12 " id="itemlist">
            {{foreach from=$marketapplist item=rs}}
            <div class="row bg-gray itemapp" style="margin-bottom:20px;">
                <div class="col-md-9" style="padding-bottom:20px;">
                    <h3><a href="/market/app?id={{$rs.id}}">{{$rs.app_name}}</a></h3>
                    <span class="label label-primary spanAppType" val="{{$rs.app_type}}" >{{$rs.app_type}}</span>
                    <h4>{{$rs.app_description}}</h4>
                    {{foreach from=$rs.products.products.product item=product}}
                    <span class="label label-success spanProductType" val="{{$product.type}}"  data-toggle="tooltip" title="{{$product.summary}}">{{$product.typename}} {{$product.name}}</span>
                    {{/foreach}}
                </div>
                <div class="col-md-3">
                    <h3 class="priceinapp" val="{{$rs.price}}">{{if $rs.price==0}}<b class="text-success " >免费</b>{{else}}<b class="text-primary">售价：{{$rs.price}}元</b>{{/if}}</h3>
                    <h4>购买次数：<b class="buycountinapp">{{$rs.buycount}}</b>次</h4>
                    <h4>最近更新时间：<b class="approvedtimeinapp">{{$rs.approved_time}}</b></h4>
                    <h4 class="scoreinapp" score="{{$rs.score}}">综合评分：</h4>
                </div>
            </div>
            {{/foreach}}
        </div>
    </div>
</div>
<!-- /.content-wrapper -->
{{include  file="$smarty_root/footer.html" }}

<script type="text/javascript">
    $(document).ready(function(){
        $(".app_type").click(function(){
            if($(this).hasClass("check")){
                $(this).removeClass("btn-primary");
                $(this).removeClass("fa");
                $(this).removeClass("fa-check");
                $(this).removeClass("check");
            }else{
                $(this).addClass("btn-primary");
                $(this).addClass("fa");
                $(this).addClass("fa-check");
                $(this).addClass("check");
            }
            fixUrl();
        });
        $(".product_type").click(function(){
            if($(this).hasClass("check")){
                $(this).removeClass("btn-primary");
                $(this).removeClass("fa");
                $(this).removeClass("fa-check");
                $(this).removeClass("check");
            }else{
                $(this).addClass("btn-primary");
                $(this).addClass("fa");
                $(this).addClass("fa-check");
                $(this).addClass("check");
            }
            fixUrl();
        });
        $("#txtSearch").change(function(){
            fixUrl();
        });
        $(".orderbtn").click(function () {
            $("#btnOrder").val($(this).attr("value"));
            $("#btnOrder").text($(this).text());
            fixUrl();
        });
        function fixUrl(){
            var app_type=new Array();
            $(".app_type").each(function(){
                if($(this).hasClass("check")){
                    app_type.push($(this).val());
                }
            });
            var app_typestr=app_type.join(",");
            var product_type=new Array();
            $(".product_type").each(function(){
                if($(this).hasClass("check")){
                    product_type.push($(this).val());
                }
            });
            var product_typestr=product_type.join(",");
            var searchstr=$.trim($("#txtSearch").val());
            var param = "?s=" + searchstr + (app_typestr != "" ? "&at=" + app_typestr : "") + (product_typestr != "" ? "&pt=" + product_typestr : "") + "&o="+$("#btnOrder").val();
            var state = { title: '', url: window.location.href.split("?")[0] };
            

            history.pushState(state, '', param);

            if (searchstr == "" && app_type.length == 0 && product_type.length == 0) {
                $(".itemapp").removeClass("hide");
            } else {
                $(".itemapp").addClass("hide");
                if (searchstr != "") {
                    $(".itemapp").each(function () {
                        var htm = $(this).html();
                        if (htm.indexOf(searchstr) >= 0) {
                            $(this).removeClass("hide");
                        }
                    });
                }
                for (var i = 0; i < app_type.length; i++) {
                    var a = app_type[i];
                    $(".spanAppType[val=" + a + "]").parent().parent().removeClass("hide");
                }
                for (var i = 0; i < product_type.length; i++) {
                    var a = product_type[i];
                    $(".spanProductType[val=" + a + "]").parent().parent().removeClass("hide");
                }
            }
            var items=$(".itemapp");
            var order = $("#btnOrder").val();

            var div = $(".itemapp").sort(function (a, b) {
                a = $(a);
                b = $(b);
                switch (order) {
                    case "update":
                        return a.find(".approvedtimeinapp").text() < b.find(".approvedtimeinapp").text();
                        break;
                    case "score":
                        return Number(a.find(".scoreinapp").attr("score")) < Number(b.find(".scoreinapp").attr("score"));
                        break;
                    case "price":
                        return Number(a.find(".priceinapp").attr("val")) > Number(b.find(".priceinapp").attr("val"));
                        break;
                    case "buy":
                    default:
                        return Number(a.find(".buycountinapp").text()) < Number(b.find(".buycountinapp").text());
                }
            });
            $("#itemlist").empty();
            $(div).appendTo('#itemlist');

        }
        var at = "{{$at}}";
        if (at != "") {
            at = at.split(",");
            for (var i = 0; i < at.length; i++) {
                if ($(".app_type[value=" + at[i] + "]").length > 0) {
                    var c = $(".app_type[value=" + at[i] + "]");
                    c.addClass("btn-primary");
                    c.addClass("fa");
                    c.addClass("fa-check");
                    c.addClass("check");
                }
            }
        }
        var pt = "{{$pt}}";
        if (pt != "") {
            pt = pt.split(",");
            for (var i = 0; i < pt.length; i++) {
                if ($(".product_type[value=" + pt[i] + "]").length > 0) {
                    var c = $(".product_type[value=" + pt[i] + "]");
                    c.addClass("btn-primary");
                    c.addClass("fa");
                    c.addClass("fa-check");
                    c.addClass("check");

                }
            }
        }
        $("#txtSearch").val("{{$s}}");
        if ("{{$o}}" != "") {
            var c = $(".orderbtn[value={{$o}}]");
            if (c != null) {
                $("#btnOrder").val(c.attr("value"));
                $("#btnOrder").text(c.text());
            }
        }

        $(".spanAppType").each(function () {
            var c = $(".app_type[value=" + $(this).text() + "]");
            $(this).text(c.text());
        });
        $(".scoreinapp").each(function () {
            var score = Number($(this).attr("score"));
            if (score == 0) {
                $(this).append("暂无评分");
            } else {
                for (i = 0; i < 5; i++) {
                    if (i <= score) {
                        $(this).append("<i class='fa fa-star text-warning'></i>");
                    } else {
                        $(this).append("<i class='fa fa-star-o'></i>");
                    }
                }
            }
        });
        fixUrl();
    });
</script>