{{include  file="$smarty_root/header.html" }}




<!-- =============================================== -->
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            <i class="fa fa-check-circle text-success"></i>支付成功
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title">感谢您的支持，你已经完成支付，接下来你可以继续进行下一步：</h3>
            </div>
            <div class="box-body">
                <a href="/apps"><p>用购买的应用创建新应用</p></a>
                <a href="/market/buylist"><p>查看我的购买列表</p></a>
                <a href="/market/apps"><p>查看我的应用收益</p></a>
                <a href="/market/buylist"><p>开发票</p></a>
                <a href="/market/payproblem"><p>支付过程遇到问题</p></a>
                <a href="/qa"><p>查看常见问题</p></a>
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
{{include  file="$smarty_root/footer.html" }}