{{include  file="$smarty_root/header.html" }}




<!-- =============================================== -->
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            提交应用到市场
            <small>将会有更多开发者因为你的代码而变得更高效</small>
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">请完成提交信息</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="form-group">
                    <select class="form-control" id="app_id">
                        <option value="">--请选择你的应用--</option>
                        {{foreach from=$apps item=rs}}
                        <option value="{{$rs.id}}">{{$rs.type_name}}类应用: {{$rs.name}}</option>
                        {{/foreach}}
                    </select>
              </div>
              <div class="form-group">
                <div class="box">
                    <div class="box-header">
                      <h3 class="box-title">相关客户端应用</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body table-responsive no-padding">
                      <table class="table table-hover" id="products">
                        <tr>
                              <th>应用类型</th>
                              <th>应用名称</th>
                              <th>代码大小</th>
                              <th>图片数量</th>
                              <th>文档数量</th>
                              <th>应用简介</th>
                        </tr>
                      </table>
                    </div>
                    <!-- /.box-body -->
                  </div>
                  <!-- /.box -->
              </div>
              <div class="form-group">
                    <textarea id="app_remarks" class="form-control" style="height: 300px" placeholder="其它一些补充说明"></textarea>
                    <p>如果你提交的是一个数据中心框架，也请提交一个客户应用，并上传相关说明和图片</p>
              </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
              <div class="pull-right">
                <button type="button" class="btn btn-primary" id="btnSubmit"><i class="fa fa-envelope-o"></i> 提交</button>
              </div>
            </div>
            <!-- /.box-footer -->
          </div>

        <!-- /.box -->

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
{{include  file="$smarty_root/footer.html" }}

<script type="text/javascript">
    $(document).ready(function(){
        $("#app_id").change(function(){
            var app_id=$("#app_id").val();
            var json={app_id:app_id};
            $("#products").load("/market/products",json);
        });
        $("#btnSubmit").click(function(){
            var app_id=$("#app_id").val();

            if(app_id==""){
                warning("请选择一个应用进行提交。");
                return;
            }
            var remarks=$("#app_remarks").val();
            var json={action:"submit",app_id:app_id,remarks:remarks};
            $("#btnSubmit").attr("disabled",true);
            getJSON("/api/market",json,function(data){
                if(data.code=="0"){
                    info("提交成功，等待审核中",function(){
                        window.location.reload();
                    });
                }else{
                    error(data.result);
                }
            },function(){
                $("#btnSubmit").attr("disabled",false);
            });
        });
    });




        function bytesToSize(bytes) {
            if (bytes === 0) return '0 B';  
  
            var k = 1024;
  
            sizes = ['B','KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];
  
            i = Math.floor(Math.log(bytes) / Math.log(k));  
  
            return (bytes / Math.pow(k, i)).toFixed(2) + ' ' + sizes[i];   
            //toPrecision(3) 后面保留一位小数，如1.0GB                                                                                                                  //return (bytes / Math.pow(k, i)).toPrecision(3) + ' ' + sizes[i];  
        }
</script>