{{include  file="$smarty_root/header.html" }}




<!-- =============================================== -->
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            提交应用到市场
            <small>将会有更多开发者因为你的代码而变得更高效</small>
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">
              {{if $sapp.status=="P"}}信息已提交，将会交由管理员进行审核
              {{elseif $sapp.status=="W"}}管理员正在进行审核，这个过程可能需要几天，请稍等
              {{elseif $sapp.status=="F"}}你的提交没有通过审核，已经被打回，请根据提示原因重新提交
              {{elseif $sapp.status=="S"}}审核通过，请根据我们的评分来设置你的应用价格。
              {{else}}请完成提交信息{{/if}}</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="form-group">
                    <select class="form-control" id="app_id" {{if $sapp.status!=""&&$sapp.status!="F"}}disabled{{/if}}>
                        <option value="">--请选择你的应用--</option>
                        <optgroup label="已上线应用">
                        {{foreach from=$submitapps item=rs}}
                        {{if $rs.market_status=="A"}}<option value="{{$rs.id}}" {{if $sapp.app_id==$rs.id}}selected{{/if}}>{{$rs.type_name}}类应用: {{$rs.name}}</option>{{/if}}
                        {{/foreach}}                        
                        </optgroup>
                        <optgroup label="未上线应用">
                        {{foreach from=$submitapps item=rs}}
                        {{if $rs.market_status!="A"}}<option value="{{$rs.id}}" {{if $sapp.app_id==$rs.id}} selected{{/if}}>{{$rs.type_name}}类应用: {{$rs.name}}</option>{{/if}}
                        {{/foreach}}                  
                        </optgroup>
                    </select>
              </div>
              <div class="form-group">
                <div class="box">
                    <div class="box-header">
                      <h3 class="box-title">相关客户端应用</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body table-responsive no-padding">
                      <table class="table table-hover" id="products">
                        <tr>
                              <th>应用类型</th>
                              <th>应用名称</th>
                              <th>代码大小</th>
                              <th>图片数量</th>
                              <th>文档数量</th>
                              <th>应用简介</th>
                        </tr>
                      </table>
                    </div>
                    <!-- /.box-body -->
                  </div>
                  <!-- /.box -->
              </div>
              <div class="form-group">
                    <textarea id="app_remarks" class="form-control" style="height: 300px" placeholder="其它一些补充说明" {{if $sapp.status!=""&&$sapp.status!="F"}}disabled{{/if}}>{{$sapp.remarks}}</textarea>
                    <p>如果你提交的是一个数据中心框架，也请提交一个客户应用，并上传相关说明和图片</p>
              </div>
              {{if $sapp.status=="F"}}
              <p class="text-red well well-sm no-shadow" style="margin-top: 10px;">
              {{$sapp.return_reason}}
              </p>
              {{/if}}
              {{if $sapp.status==""||$sapp.status=="F"}}
                <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
                    <input type="checkbox" class="iknowpolice" /> 我上传的应用代码中没有任何冗余文件，例如log或者上传的文件等。<br />
                    <input type="checkbox" class="iknowpolice" /> 我上传的应用能够实际解决问题。<br />
                    <input type="checkbox" class="iknowpolice" /> 我上传的应用不涉及法律问题。<br />
                    <input type="checkbox" class="iknowpolice" /> 我上传的应用已经遵守相关的开源商业原则。<br />
                    <input type="checkbox" class="iknowpolice" /> 成功提交的应用将会在app-link中永远成为你的开发应用。<br />
                </p>
                {{/if}}
            </div>
            <!-- /.box-body -->
            <div class="box-footer">                
                {{if $sapp.status=="S"}}
                <div class="box box-solid  box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">应用评价以及价格参考</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body" id="access_price">
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
                {{/if}}
              <div class="pull-right">
              {{if $sapp.status=="P"}}
              <button type="button" class="btn btn-default" id="btnDiscard"><i class="fa fa-times"></i> 撤回</button>
              {{elseif  $sapp.status=="W"}}管理员正在审核中，一般需要2到4天。
              {{elseif  $sapp.status=="F"}}
              <button type="button" class="btn btn-primary" id="btnSubmit"><i class="fa fa-envelope-o"></i> 重新提交</button>                  
              {{elseif  $sapp.status=="S"}}
              <div  class="form-group">
                  <input class="form-control text-right" type="number" placeholder="应用价格" maxlength="4" style="width:140px;" id="txtPrice" />
              </div>
              <button type="button" class="btn btn-success" id="btnSetPrice"><i class="fa fa-money"></i> 确认价格并上架</button>
              {{else}}
              <button type="button" class="btn btn-primary" id="btnSubmit"><i class="fa fa-envelope-o"></i> 提交</button>
              {{/if}}
              </div>
            </div>
            <!-- /.box-footer -->
          </div>

        <!-- /.box -->

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
{{include  file="$smarty_root/footer.html" }}

<script type="text/javascript">
    $(document).ready(function(){

        {{if $sapp.status=='S'}}
        getJSON("{{$accesscmsapi}}api/marketappscoreoption/list?market_app_id={{$sapp.id}}",null,function(data){
            
            //$("#access_price")
            
            var str="";
            for(i=0;i<data.length;i++){
                if(data[i].score==0){
                    continue;
                }
                var sty="";
                switch(Number(data[i].score)){
                    case 1:sty="danger";break;
                    case 2:sty="warning";break;
                    case 3:sty="info";break;
                    case 4:sty="primary";break;
                    case 5:sty="success";break;
                }
                str+='<p>'+data[i].option_id+':<span class="text-'+sty+'" style="font-size:200%">'+data[i].score+'分</span>,'+data[i].description+','+(data[i].avg_price==null?"暂无参考价格":'同一分数平均价格设置为<span class="text-'+sty+'" style="font-size:150%">'+data[i].avg_price+'元</span>')+'</p>'
            +'<div class="progress"><input type="hidden" class="got_score" value="'+data[i].score+'" />'
            +'<div class="progress-bar progress-bar-'+sty+' progress-bar-striped" role="progressbar" aria-valuenow="'+data[i].score+'" aria-valuemin="0" aria-valuemax="5" style="width: '+(data[i].score*20)+'%"></div>'
            +'</div>';
            }
            str=str==""?"暂无评分":str;
            $("#access_price").html(str);
        });
        {{/if}}
            $("#btnSetPrice").click(function(){
                var price=$("#txtPrice").val();
                try{
                  price=parseInt(Number(price))+0;

                }catch(e){
                  price=0;
                }
                if(price<0){
                  price=0;
                }
                warning("请确认最终价格为<b style='font-size:150%' class='text-primary'>"+price+"元</b>，应用将会上架到应用商城，如果您有任何更新，请重新提交请求，你确定继续操作吗？",function(){
                    var scoreoptioncount=0;
                    var scoreoption=0;
                    $(".got_score").each(function(){
                        scoreoptioncount++;
                        scoreoption=Number($(this).val());
                    });
                    var score=0;
                    if(scoreoptioncount>0){
                        score=scoreoption/scoreoptioncount;
                    }
                    var json={action:"setpriceonline",price:price,score:score};
                    $("#btnSubmit").attr("disabled",true);
                    getJSON("/api/market",json,function(data){
                        if(data.code=="0"){
                            window.location.href="/market/apps";
                        }else{
                            alert(data.result);
                        }
                        },function(){
                            
                            $("#btnSubmit").attr("disabled",true);
                        });
                });
                
            });
        $("#app_id").change(function(){
            var app_id=$("#app_id").val();
            var is_submit="{{if $sapp.status!=""&&$sapp.status!="F"}}Y{{else}}N{{/if}}";
            var json={app_id:app_id,is_submit:is_submit};
            $("#products").load("/market/products",json);
        });
        if($("#app_id").val()!=""){
            $("#app_id").change();
        }
        $("#btnSubmit").click(function () {
            if ($(".iknowpolice:checked").length < $(".iknowpolice").length) {
                warning("请确认已经知道我们要上传的一些条款。");
                return;
            }


            var app_id=$("#app_id").val();

            if(app_id==""){
                warning("请选择一个应用进行提交。");
                return;
            }
            var remarks=$("#app_remarks").val();
            var json={action:"submit",app_id:app_id,remarks:remarks};
            $("#btnSubmit").attr("disabled",true);
            getJSON("/api/market",json,function(data){
                if(data.code=="0"){
                    info("提交成功，等待审核中",function(){
                        window.location.reload();
                    });
                }else{
                    error(data.result);
                }
            },function(){
                $("#btnSubmit").attr("disabled",false);
            });
        });
        $("#btnDiscard").click(function(){
            var json={action:"discard"};
            $("#btnDiscard").attr("disabled",true);
            getJSON("/api/market",json,function(data){
                if(data.code=="0"){
                    info("撤回成功",function(){
                        window.location.reload();
                    });
                }else{
                    error(data.result);
                }
            },function(){
                $("#btnDiscard").attr("disabled",false);
            });
        });
    });




        function bytesToSize(bytes) {
            if (bytes === 0) return '0 B';  
  
            var k = 1024;
  
            sizes = ['B','KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];
  
            i = Math.floor(Math.log(bytes) / Math.log(k));  
  
            return (bytes / Math.pow(k, i)).toFixed(2) + ' ' + sizes[i];   
            //toPrecision(3) 后面保留一位小数，如1.0GB                                                                                                                  //return (bytes / Math.pow(k, i)).toPrecision(3) + ' ' + sizes[i];  
        }
</script>