    

<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 1.0.1
    </div>
    <strong>Copyright &copy; 2013-2017 <a href="http://www.helpfooter.com">HelpFooter</a>.</strong> All rights
    reserved.
</footer>

{{include  file="$smarty_root/nav-right.html" }}


<div class="modal fade" id="dlgAlert">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" >
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">取消</button>
                <button type="button" class="btn" id="dlgBtnAlertOK">确定</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->




    </div>
<!-- ./wrapper -->
<!-- jQuery 2.2.3 -->
<script src="{{$rootpath}}plugins/jQuery/jquery-2.2.3.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="{{$rootpath}}bootstrap/js/bootstrap.min.js"></script>
<!-- SlimScroll -->
<script src="{{$rootpath}}plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="{{$rootpath}}plugins/fastclick/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="{{$rootpath}}dist/js/app.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="{{$rootpath}}dist/js/demo.js"></script>
<!-- Common -->
<script src="{{$rootpath}}js/common.js"></script>
</body>
</html>
<script type="text/javascript">
    $(document).ready(function(){
        getJSON("/api/market?action=submitstatus",null,function(data){
            try{
                var status=data.status;
                //alert(status);
                if(status=="P"){
                    $("#lblSubmitApp").addClass("label-info").text("已提交");
                }else if(status=="W"){
                    $("#lblSubmitApp").addClass("label-info").text("审核中");
                }else if(status=="S"){
                    $("#lblSubmitApp").addClass("label-success").text("审核成功");
                }else if(status=="F"){
                    $("#lblSubmitApp").addClass("label-danger").text("退回");
                }
            }catch(e){

            }
        },function(){},function(){});
    });
</script>



