{{include  file="$smarty_root/header.html" }}

        


        <!-- =============================================== -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
    <section class="content">
        <div class="box box-primary">
            <!-- /.box-header -->
            <div class="box-body no-padding">
                <div class="mailbox-read-info">
                    <h3>易创云</h3>
                    <h5>
                        From: <a href="Mailto:alucard263096@126.com">alucard263096@126.com</a>
                        <span class="mailbox-read-time pull-right">2017-01-28</span>
                    </h5>
                </div>
                <!-- /.mailbox-controls -->
                <div class="mailbox-read-message">
                    <p>各位开发者 大家好，</p>

                    <p>
                        我是AppLink的开发者，感谢大家来到易创云，易创云是一个平台，一个服务，一个软件，目的是为了辅助大家能够快速开发各种小型常用软件中的数据问题，尤其是现在最流行的移动端APP。我们提供以下的一些功能：
                    </p>
                    <p>
                        <ul>
                            <li>提供一个快速配置的<a href="/datacenter">数据中心</a>，让你开发任何APP的过程中，不要去开发数据管理后台。</li>
                            <li>提供一个快速接入的API（应用程序的数据接口），直接获取数据中心的数据。</li>
                            <li>自动生成调用API数据的代码，你的应用程序直接使用来获取数据，节约写代码时间。</li>
                            <li>提供<a href="/market">应用市场</a>让你能够把你开发好的应用让其它开发者进行购买，别人能够直接基于你的应用再进行二次开发，大家一起进步。</li>
                            <li>你可以在<a href="/market">应用市场</a>找到别的开发者完成的应用，直接在别人的基础上进行开发。</li>
                        </ul>
                    </p>
                    <p>
                        感谢你看到这里，我们是一个新平台，还有很多地方没有想到，希望你能够提供你的宝贵意见给我们。
                    </p>

                    <p>此致, <br>Steve</p>
                    <address>
                        QQ: 359304951<br>
                        QQ群：455400615<br>
                        邮件: alucard263096@126.com
                    </address>
                </div>
                <!-- /.mailbox-read-message -->
            </div>
            <!-- /.box-footer -->
            <div class="box-footer">
            </div>
            <!-- /.box-footer -->
        </div>
        <!-- /. box -->

    </section>
</div>
        <!-- /.content-wrapper -->


{{include  file="$smarty_root/footer.html" }}