
                <div class="tab-pane" id="tab_apicreator">
                    <div class="row">
                        <div class="col-md-12">
                            <a href="javascript:openApiCreatorEditor('','');" class="btn btn-success margin-bottom" >添加</a>
                            <a href="#" class="btn btn-primary margin-bottom btnSaveApiList" >保存</a>
                            <a href="{{$rootpath}}api/api?action=downloaddocument&app_id={{$appinfo.id}}" target="_blank" class="btn btn-primary margin-bottom pull-right">下载接口文档</a>
                        </div>
                        <div class="col-md-12">
                            <table class="table table-condensed" id="table_apicreatorlist">
                                <tr>
                                        <th><input type="checkbox" name="apicreator_checkbox" id="apicreator_checkbox_all" /> 启用</th>
                                        <th>链接</th>
                                        <th>模块</th>
                                        <th>方法</th>
                                        <th>描述</th>
                                        <th>操作</th>
                                </tr>
                                {{foreach from=$apicreatorlist item=rs key=key}}
                                <tr id="apicreator_{{$rs.model}}_{{$rs.func}}"  class="api_item">
                                    <td><input {{if $rs.active=="1"}}checked="checked"{{/if}} type="checkbox" class="api_active" ></td>
                                    <td><a target="_blank"  class="api_testurl"  href="{{$Config.workspace.domain}}/{{$User.login}}/{{$appinfo.alias}}/api/{{$rs.model}}/{{$rs.func}}">/api/{{$rs.model}}/{{$rs.func}}</a></td>
                                    <td  class="api_model">{{$rs.model}}</td>
                                    <td class="api_func">{{$rs.func}}</td>
                                    <td class="api_description">{{$rs.description}}</td>
                                    <td>
                                        <a class="fa fa-pencil-square-o" href="javascript:openApiCreatorEditor('{{$rs.model}}','{{$rs.func}}');" target="_blank" ></a>
                                    </td>
                                </tr>
                                {{/foreach}}
                            </table>
                        </div>
                        <div class="col-md-12 " id="btnGroupBottomApiCreator">
                            <a href="javascript:openApiCreatorEditor('','');" class="btn btn-success margin-bottom" >添加</a>
                            <a href="#" class="btn btn-primary margin-bottom btnSaveApiList" >保存</a>
                        </div>
                    </div>
                </div>

<style type="text/css">
    #apiCodingDescription b{
        background-color: #cccccc;
        cursor: pointer;
    }
    .ace_editor {
        height:500px;
    }
    .ace_content{
        height:590px;
    }
</style>

                
<div class="modal fade" id="dlgApiCreatorEditor">
    <div class="modal-dialog" style="width:1000px;">
        <div class="modal-content">
            <div class="modal-header bg-light-blue-active">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">添加自定义接口</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group" >
                            <label class="col-sm-4 control-label"><span style="color:red;">*</span> 模块</label>
                            <div class="col-sm-8">
                                <input type="text" maxlength="50" class="form-control" id="dlg_apicreator_model" placeholder="接口URL的模块，仅支持全英文" data-toggle="tooltip" title="接口URL的模块，仅支持全英文"/>
                            </div>
                            <span class="help-block col-sm-offset-4"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" >
                            <label class="col-sm-4 control-label"><span style="color:red;">*</span> 方法</label>
                            <div class="col-sm-8">
                                <input type="text" maxlength="50" class="form-control" id="dlg_apicreator_func" placeholder="接口URL的方法，仅支持全英文" data-toggle="tooltip" title="接口URL的方法，仅支持全英文" />
                            </div>
                            <span class="help-block col-sm-offset-4"></span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-2 control-label"><span style="color:red;">*</span> 接口描述</label>
                            <div class="col-sm-10">
                                <textarea type="text"  class="form-control" id="dlg_apicreator_description" placeholder="描述，防止忘记这个API做什么" ></textarea>
                            </div>
                            <span class="help-block col-sm-offset-4"></span>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group" >
                            <label class="col-md-12 control-label"> 代码编辑(<a href="http://www.hubwiz.com/course/559b6603a164dd0d75929cc9/" target="_blank">快速学习PHP</a>)</label>
                            <div class="col-sm-12" style="height:500px;">
                                <textarea type="text"  class="form-control" id="dlg_apicreator_content" placeholder="直接在下面编辑你的PHP代码，如果不会请点击上面快速入门"  rows="20" cols="100"  style="height:300px;"></textarea>
                            </div>
                            <span class="help-block col-sm-offset-4"></span>
                        </div>
                    </div>
                    <div class="col-md-6" >
                        <button type="button" class="btn btn-primary " id="btnApiCreatorCodeReset">重置代码</button>
                    </div>
                    <div class="col-md-6"  style="text-align:right">
                        <button type="button" class="btn btn-primary btnApiCreatorCodeSave">保存</button>
                    </div>
                </div>
                    <div class="row" style="margin-top:10px;">

                        <div class="col-md-4">
                            <select class="form-control" id="ddlQuickCopy" >
                                {{foreach from=$modellist item=rs key=key}}
                                {{if $rs.nolist=="1"}}
                                <option model="{{$rs.modelname}}" func="update">{{$rs.name}}的值更新</option>
                                <option model="{{$rs.modelname}}" func="get">{{$rs.name}}的字段获取</option>
                                {{else}}
                                <option model="{{$rs.modelname}}" func="list">{{$rs.name}}的列表数据获取</option>
                                <option model="{{$rs.modelname}}" func="get">{{$rs.name}}的详情数据获取</option>
                                <option model="{{$rs.modelname}}" func="update">{{$rs.name}}的值更新</option>
                                <option model="{{$rs.modelname}}" func="delete">{{$rs.name}}的数据删除</option>
                                {{/if}}
                                {{/foreach}}
                            </select>
                        </div>
                        <div class="col-md-6" >
                            <button type="button" class="btn btn-primary " id="btnApiCreatorCodeCopy">快速生成</button>
                        </div>

                    </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-12" id="apiCodingDescription">
                        <div class="box box-default collapsed-box">
                        <div class="box-header with-border">
                          <h3 class="box-title">以下是常用的代码，请注意以下几点</h3>
                          <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                            </button>
                          </div>
                          <!-- /.box-tools -->
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">

                        <ol>
                            <li>请不要在本页面中出现html的代码，否则你自己负责了</li>
                            <li>最后面输出一定要outputJSON代码，否则输出的页面json为空。</li>
                            <li>一般来说，这里用的是数据库对象最多，因此请看熟悉以下的代码</li>
                            <li>一般都是以一种输出为准，否则你自己的代码会变得难以请求和代码复杂。不要走太多分之有多种请求。</li>
                            <li>要写公用类或者公用的引用，请在上层的common文件夹或者datamgr文件夹中添加代码，在这个文件中引用</li>
                            <li><color style="color:red;">复制</color>的常用代码插入编辑框中</li>
                        </ol>
                        <p>
                        $dbmgr;//数据库请求对象<br />
                        $sql="select now()";<br />
                        <b>$query=$dbmgr->query($sql);</b>//提交一个请求<br />
                        <b>$result=$dbmgr->fetch_array($query);</b>//返回一行数据<br />
                        <b>$result=$dbmgr->fetch_array($dbmgr->query($sql));</b>//返回一行数据<br />
                        <b>$result=$dbmgr->fetch_array_all($query);</b>//返回多行数据<br />
                        <b>$result=$dbmgr->fetch_array_all($dbmgr->query($sql));</b>//返回多行数据<br />
                        <b>$dbmgr->begin_trans();</b>//启动数据库事务<br />
                        <b>$dbmgr->commit_trans();</b>//提交数据库事务<br />
                        <b>$dbmgr->rollback_trans();</b>//回滚数据库事务，一般不写这个也可以，反正SQL语句错误就自动回滚<br /><br />
                        #其它常用的数据库方法<br />
                        <b>$dbmgr->checkHave("表名","where 条件");</b>//检查是否存在某一条数据<br />
                        <b>$dbmgr->getNewId("表名");</b>//获取新的ID，表必须有id字段<br />
                        </p>
                        <p>
                        #其它常用方法<br />
                        <b>$str=parameter_filter($_str);</b>//将内容进行过滤<br />
                        <b>$array=outResult($code,$result,$return);</b><br />
                        <b>outputJson($array);</b>//数组转json并输出<br />
                        <b>outputJson(outResult($code,$result,$return));</b><br />标准数组结果输出，$code=标识码，$result=结果文字描述，$return=结果内容<br />
                        </p>

                        <p>
                        <b>logger_mgr::logError("错误日志");</b><br />
                        <b>logger_mgr::logInfo("常用信息日志");</b><br />
                        <b>logger_mgr::logDebug("Debug日志");</b><br />
                        </p>

                        <p>
                        #其它常用常量
                        <b>USER_ROOT</b>    //用户目录根目录<br />
                        </p>
                        
                        </div>
                        <!-- /.box-body -->
                      </div>
                    </div>
                </div>


                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">取消</button>
                <span class="text-red" id="txtApiCreatorConfirm"></span>
                <button type="button" class="btn btn-primary" id="btnApiCreatorConfirm" needcheck="Y">应用</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<textarea id="func_list" class="hidden">

    /**************
    请在此处编写请求的数据正确性，请求合法性的判断
    比如:
    if($_REQUEST["mobile"]=="")//手机号码为空
    {
        outputJSON(Array());
    }    
    ****************/

    //1. （请勿改动的代码）获取数据模型对象
    $modelname="{MODEL}";
    $modelmgrpath=USER_ROOT."modelmgr/$modelname.model.php";
    $model=new XmlModel($modelname,CURRENT_PATH);    
    //修正$model的字段默认值，for($model->XmlData["fields"]["field"] as $field)

    /**************
    请在此处编写你对请求值的修正
    如$request["request_time"]=date('Y-m-d H:i:s');
    ****************/
    $request=$_REQUEST;
    
    //2. （请勿改动的代码）获取自动生成的搜索sql语句
    $sql=$model->GetSearchSql($request);
    //echo $sql;  
    //$sql=str_replace("select","select distinct",$sql);

    $query = $dbmgr->query($sql);
    $result = $dbmgr->fetch_array_all($query); 

    /**************
    请在此处编写你对最终返回数据的修正
    如
    for($i=0;$i&lt;count($result);$i++){
        $result[$i]["mobile"]=substr($result[$i]["mobile"],0,2)."******".substr($result[$i]["mobile"],8,3);
    }
    ****************/

    outputJSON($result);


</textarea>

<textarea id="func_update" class="hidden">

    //传入primary_id是更新，为空则是新增    
    //传入primary_id是更新，为空则是新增    
    //传入primary_id是更新，为空则是新增

    //1. （请勿改动的代码）获取数据模型对象
    $modelname="{MODEL}";
    $modelmgrpath=USER_ROOT."modelmgr/$modelname.model.php";
    $model=new XmlModel($modelname,CURRENT_PATH);
    //修正$model的字段默认值，for($model->XmlData["fields"]["field"] as $field)



    //修正请求的数据
    $request=$_REQUEST;//print_r($request);//你可以比较fix前后的区别
    $request=$model->beforeSaveDataFix($request);//print_r($request);//你可以比较fix前后的区别

    /**************
    请在此处编写你对请求值的修正，例如默认值在这里传递
    如$request["request_time"]=date('Y-m-d H:i:s');
    ****************/

    //校验请求的数据正确性
    $error=$model->saveValidate($dbmgr,$request);
    if($error!=""){
        outputJSON(outResult(-1,$error,null));
    }

    //2. （请勿改动的代码）获取自动生成的搜索sql语句
    $return=$dbmgr->begin_trans();
    $result=$model->Save($dbmgr,$request);
    if(substr($result,0,5)=="right"){
        $id=substr($result,5);

        /**************
        请在此处编写你对在数据保存完成后相关的更新语句
        比如：$dbmgr->query("update tb_example set public time=now() where id=$id ");
        ****************/

        $result=outResult(0,"Save Success",$id);    
        $dbmgr->commit_trans();
    }else{
        $result=outResult(-1,"Save fail",$result);    
        $dbmgr->rollback_trans();
    }

    outputJSON($result);

</textarea>

<textarea id="func_get" class="hidden">

    /**************
    请在此处编写请求的数据正确性，请求合法性的判断
    比如:
    if($_REQUEST["unicode"]=="")//编码
    {
        outputJSON(Array());
    }
    ****************/

    //1. （请勿改动的代码）获取数据模型对象
    $modelname="{MODEL}";
    $modelmgrpath=USER_ROOT."modelmgr/$modelname.model.php";
    $model=new XmlModel($modelname,CURRENT_PATH);
    //修正$model的字段默认值，for($model->XmlData["fields"]["field"] as $field)

    /**************
    请在此处编写你对请求值的修正
    $unicode=parameter_filter($_REQUEST["unicode"]);
    $query=$dbmgr->query("select id from tb_context where unicode='$unicode'");
    $result=$dbmgr->fetch_array($query);
    $id=$result["id"]+0;
    ****************/
    $id=$_REQUEST["id"]+0;

    //2. （请勿改动的代码）获取生成的sql语句
    $sql=$model->GetSearchSqlField($request,true)." where r_main.id=$id";    
    
    $query = $dbmgr->query($sql);
    $result = $dbmgr->fetch_array($query);

    /**************
    请在此处编写你对最终返回数据的修正
    如
    $result["mobile"]=substr($result[$i]["mobile"],0,2)."******".substr($result[$i]["mobile"],8,3);
    ****************/
    outputJSON($result);
</textarea>

<textarea id="func_delete" class="hidden">

    /**************
    请在此处编写请求的数据正确性，请求合法性的判断
    比如:
    if($_REQUEST["unicode"]=="")//编码
    {
    outputJSON(Array());
    }
    ****************/

    //1. （请勿改动的代码）获取数据模型对象
    $modelname="{MODEL}";
    $modelmgrpath=USER_ROOT."modelmgr/$modelname.model.php";
    $model=new XmlModel($modelname,CURRENT_PATH);
    //修正$model的字段默认值，for($model->XmlData["fields"]["field"] as $field)

    $request=$_REQUEST;
    $return=$dbmgr->begin_trans();

    //默认的delete方式是update table set status='D' where id in (ids)
    $result=$model->Delete($dbmgr,$request["idlist"],-1);
    if(substr($result,0,7)=="success"){
        /**************
        请在此处编写你对在数据保存完成后相关的更新语句
        比如：$dbmgr->query("update tb_example set public time=now() where id=$id ");
        ****************/

        $result=outResult(0,"Deleted Success");
        $dbmgr->commit_trans();
    }else{
        $result=outResult(-1,"Deleted fail",$result);
        $dbmgr->rollback_trans();
    }

    outputJSON($result);
    
</textarea>