

                <div class="tab-pane" id="tab_code">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="box box-widget widget-user">
                                <!-- Add the bg color to the header using any of the bg-* classes -->
                                <div class="widget-user-header bg-green-active">
                                    <h3 class="widget-user-username">AJAX</h3>
                                    <h5 class="widget-user-desc">适用于网站，APP网站，微信，Cordova，Ionic v1等纯AJAX开发的网站</h5>
                                </div>
                                <div class="widget-user-image">
                                    <img class="img-circle" src="/img/ajax.jpg" alt="User Avatar">
                                </div>
                                <div class="box-footer">
                                    <div class="row">
                                        <div class="col-sm-12 ">
                                            <br />
                                            <a class="btn btn-primary btn-block" href="/api/api?action=downloadsourcecode&app_id={{$appinfo.id}}&&type=ajax" target="_blank">下载开发所需的接口代码</a>
                                            <!-- /.description-block -->
                                            <p>AJAX方式请求远程服务器进行各种业务交流，下载解压后得到api文件夹，请引用相关JS并进行调用。</p>
                                        </div>
                                        <!-- /.col -->
                                    </div>
                                    <!-- /.row -->
                                </div>
                            </div>
                            <!-- /.widget-user -->
                        </div>
                        <div class="col-md-6">
                            <div class="box box-widget widget-user">
                                <!-- Add the bg color to the header using any of the bg-* classes -->
                                <div class="widget-user-header bg-aqua-active">
                                    <h3 class="widget-user-username">TypeScript</h3>
                                    <h5 class="widget-user-desc">适用于使用TypeScript进行开发的网站或者APP，例如Ionic v2。</h5>
                                </div>
                                <div class="widget-user-image">
                                    <img class="img-circle" src="/img/typescript.jpg" alt="User Avatar">
                                </div>
                                <div class="box-footer">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <br />
                                            <a class="btn btn-primary btn-block" href="/api/api?action=downloadsourcecode&app_id={{$appinfo.id}}&&type=typescript" target="_blank">下载开发所需的接口代码</a>
                                            <!-- /.description-block -->
                                            <p>基于TypeScript编写的各个数据接口的代码，直接解压到相对应放置provider的位置，则可对远程数据接口进行调用。</p>
                                        </div>
                                    </div>
                                    <!-- /.row -->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="box box-widget widget-user">
                                <!-- Add the bg color to the header using any of the bg-* classes -->
                                <div class="widget-user-header bg-aqua-active">
                                    <h3 class="widget-user-username">PHP</h3>
                                    <h5 class="widget-user-desc">适用于使用PHP开发，生成MVC中的Model的php代码，php页面直接调用。</h5>
                                </div>
                                <div class="widget-user-image">
                                    <img class="img-circle" src="/img/php.jpg" alt="User Avatar">
                                </div>
                                <div class="box-footer">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <br />
                                            <a class="btn btn-primary btn-block" href="/api/api?action=downloadsourcecode&app_id={{$appinfo.id}}&&type=php" target="_blank">下载开发所需的接口代码</a>
                                            <p>基于PHP编写的各个数据接口的代码，直接解压到相对应放置并应用PHP文件进行代码的调用。</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="box box-widget widget-user">
                                <!-- Add the bg color to the header using any of the bg-* classes -->
                                <div class="widget-user-header bg-red-active">
                                    <h3 class="widget-user-username">C#</h3>
                                    <h5 class="widget-user-desc">适用于C#的程序开发，引用工程文件调用model对象。</h5>
                                </div>
                                <div class="widget-user-image">
                                    <img class="img-circle" src="/img/csharp.png" alt="User Avatar">
                                </div>
                                <div class="box-footer">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <br />
                                            <a class="btn btn-primary btn-block" href="/api/api?action=downloadsourcecode&app_id={{$appinfo.id}}&&type=csharp" target="_blank">下载开发所需的接口代码</a>
                                            <p>基于CSharp编写的各个数据接口的代码，直接解压到相对应放置并根据事例进行代码的调用。</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.widget-user -->
                        </div>
                        <div class="col-md-6">
                            <div class="box box-widget widget-user">
                                <!-- Add the bg color to the header using any of the bg-* classes -->
                                <div class="widget-user-header bg-yellow-active">
                                    <h3 class="widget-user-username">Android JAVA</h3>
                                    <h5 class="widget-user-desc">下载Android原生方式的APP开发使用的Java接口代码，开发者可以直接在这个接口进行自己的业务流程开发。</h5>
                                </div>
                                <div class="widget-user-image">
                                    <img class="img-circle" src="/img/android.jpg" alt="User Avatar">
                                </div>
                                <div class="box-footer">
                                    暂不开放
                                </div>
                            </div>
                            <!-- /.widget-user -->
                        </div>
                        <div class="col-md-6">
                            <div class="box box-widget widget-user">
                                <!-- Add the bg color to the header using any of the bg-* classes -->
                                <div class="widget-user-header bg-red-active">
                                    <h3 class="widget-user-username">Object-C</h3>
                                    <h5 class="widget-user-desc">下载iPhone的原生APP开发使用的接口代码，开发者可以直接在这个接口进行自己的业务流程开发。</h5>
                                </div>
                                <div class="widget-user-image">
                                    <img class="img-circle" src="/img/apple.jpg" alt="User Avatar">
                                </div>
                                <div class="box-footer">
                                    暂不开放
                                </div>
                            </div>
                            <!-- /.widget-user -->
                        </div>
                        <div class="col-md-6">
                            <div class="box box-widget widget-user">
                                <!-- Add the bg color to the header using any of the bg-* classes -->
                                <div class="widget-user-header bg-red-active">
                                    <h3 class="widget-user-username">Swift</h3>
                                    <h5 class="widget-user-desc">下载iPhone的原生APP开发使用的接口代码，开发者可以直接在这个接口进行自己的业务流程开发。</h5>
                                </div>
                                <div class="widget-user-image">
                                    <img class="img-circle" src="/img/apple.jpg" alt="User Avatar">
                                </div>
                                <div class="box-footer">
                                    暂不开放
                                </div>
                            </div>
                            <!-- /.widget-user -->
                        </div>
                    </div>
                </div>