{{include  file="$smarty_root/header.html" }}




<!-- =============================================== -->
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            应用管理
            <small>{{$appinfo.name}} <span class="badge bg-green">{{$appinfo.type_name}}</span></small>
            <a class="btn btn-primary" href="{{$Config.workspace.ftp}}/{{$appinfo.alias}}" target="_blank" style="margin-left:40px;" data-toggle="tooltip" title="请在应用配置中获取你的密码" >打开远程工作目录</a>
            <a id="btn_open_webmysql" class="btn btn-warning" href="{{$Config.workspace.mysql}}" target="_blank" data-toggle="tooltip" title="请在应用配置中获取你的密码">连接调试数据库</a>
            <a class="btn btn-info" href="{{$Config.workspace.domain}}/{{$User.login}}/{{$appinfo.alias}}/" target="_blank" data-toggle="tooltip" title="请在应用配置中获取你的密码">进入数据中心</a>
            <a class="btn btn-success hide" id="btnSyncDataBase" href="#"  >同步到正式数据库</a>
            <a class="btn btn-info hide" id="btnSendToWorkspace" href="#"   >发布数据中心到正式环境</a>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/apps"><i class="fa fa-th"></i> 我的应用</a></li>
            <li class="active">{{$appinfo.name}}的管理</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs ">
                <li class="active"><a href="#tab_console" id="btn_tab_console" data-toggle="tab" >仪表盘</a></li>
                <li><a href="#tab_model" id="btn_tab_model" data-toggle="tab" >数据对象</a></li>
                <li><a href="#tab_plugin" id="btn_tab_plugin" data-toggle="tab" >插件</a></li>
                <li><a href="#tab_component" id="btn_tab_component" data-toggle="tab" >组件</a></li>
                <li><a href="#tab_menu" id="btn_tab_menu" data-toggle="tab" >数据中心菜单</a></li>
                <li ><a href="#tab_apicreator" id="btn_tab_apicreator" data-toggle="tab" >数据接口生成器</a></li>
                <li><a href="#tab_code" id="btn_tab_code" data-toggle="tab" >接口开发</a></li>
                <li ><a href="#tab_product" id="btn_tab_product" data-toggle="tab" >上传产品</a></li>
                <li><a href="#tab_version" id="btn_tab_version" data-toggle="tab" >版本管理</a></li>
                <li><a href="#tab_global" id="btn_tab_global" data-toggle="tab" >全局设置</a></li>
            </ul>
            <div class="tab-content">
                
                {{include  file="$smarty_root/apps/board_console.html" }}

                {{include  file="$smarty_root/apps/board_model.html" }}

                {{include  file="$smarty_root/apps/board_plugin.html" }}

                {{include  file="$smarty_root/apps/board_component.html" }}

                {{include  file="$smarty_root/apps/board_menu.html" }}

                {{include  file="$smarty_root/apps/board_apicreator.html" }}

                {{include  file="$smarty_root/apps/board_code.html" }}

                {{include  file="$smarty_root/apps/board_product.html" }}

                {{include  file="$smarty_root/apps/board_version.html" }}

                {{include  file="$smarty_root/apps/board_global.html" }}


            </div>
            <!-- /.tab-content -->
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->


















<link rel="stylesheet" href="{{$rootpath}}plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">

{{include  file="$smarty_root/footer.html" }}
<script src="{{$rootpath}}plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
<script src="{{$rootpath}}plugins/highcharts/highcharts.js"></script>
<!-- DataTables -->
<link rel="stylesheet" href="{{$rootpath}}plugins/datatables/dataTables.bootstrap.css">
<script src="{{$rootpath}}plugins/datatables/jquery.dataTables.min.js"></script>
<script src="{{$rootpath}}plugins/datatables/dataTables.bootstrap.min.js"></script>

{{include  file="$smarty_root/apps/board_console.js" }}

{{include  file="$smarty_root/apps/board_model.js" }}

{{include  file="$smarty_root/apps/board_plugin.js" }}

{{include  file="$smarty_root/apps/board_component.js" }}

{{include  file="$smarty_root/apps/board_menu.js" }}

{{include  file="$smarty_root/apps/board_apicreator.js" }}

{{include  file="$smarty_root/apps/board_code.js" }}

{{include  file="$smarty_root/apps/board_product.js" }}

{{include  file="$smarty_root/apps/board_version.js" }}

{{include  file="$smarty_root/apps/board_global.js" }}




<script>
    $(document).ready(function () {
        $("#btnSyncDataBase").click(function () {
            alert("aa");
        });
    });
</script>