{{include  file="$smarty_root/header.html" }}




<!-- =============================================== -->
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            应用管理
            <small>{{$appinfo.name}} <span class="badge bg-green">{{$appinfo.type_name}}</span></small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/apps"><i class="fa fa-th"></i> 我的应用</a></li>
            <li class="active">{{$appinfo.name}}的管理</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs ">
                <li><a href="#tab_1" id="btn_tab_1" data-toggle="tab" >数据对象</a></li>
                <li><a href="#tab_2" id="btn_tab_2" data-toggle="tab" >应用菜单</a></li>
                <li  class="active"><a href="#tab_3" id="btn_tab_3" data-toggle="tab" >数据接口</a></li>
                <li><a href="#tab_4" id="btn_tab_4" data-toggle="tab" >版本管理</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane " id="tab_1">

                    <div class="row">
                        <div class="col-md-12">
                            <a href="#" class="btn btn-primary margin-bottom" id="btnCreateModel" >创建数据对象模型</a>
                            <a href="#" class="btn btn-warning margin-bottom" id="btnExecuteMysql" >批量更新数据库</a>
                        </div>
                    </div>
                    <table class="table table-condensed" id="table_modellist">
                        <tr>
                          <th style="width: 10px">#</th>
                          <th>模型名称</th>
                          <th>名称</th>
                          <th>数据来源</th>
                          <th>描述</th>
                          <th class="db_op_th hide">SQL执行</th>
                          <th class="ut_op hide">单元测试</th>
                        </tr>
                        {{foreach from=$modellist item=rs key=key}}
                        <tr id="model_{{$rs.modelname}}">
                            <td>{{$key+1}}</td>
                            <td><a href="/apps/model?app_id={{$appinfo.id}}&model={{$rs.modelname}}">{{$rs.modelname}}</a></td>
                            <td><a class="modelname" href="/apps/model?app_id={{$appinfo.id}}&model={{$rs.modelname}}">{{$rs.name}}</a></td>
                            <td><a href="/apps/model?app_id={{$appinfo.id}}&model={{$rs.modelname}}">{{$rs.tablename}}</a></td>
                            <td>{{$rs.description}}</td>
                            <td class="db_op hide" modelname="{{$rs.modelname}}"></td>
                            <td class="ut_op hide"></td>
                        </tr>
                        {{/foreach}}
                    </table>
                </div>
                <div class="tab-pane " id="tab_2">

                    <div class="row">
                        <div class="col-md-12">
                            <a href="#" class="btn btn-warning margin-bottom" id="btnSubmitMenu">提交并更新应用菜单</a>
                        </div>
                        <div class="col-md-9">
                            <table class="table table-bordered">
                                <tr>
                                    <th style="width:100px;"><span class="text-muted">菜单分类</span></th>
                                    <th ><a ><span >系统管理</span></a></th>
                                    {{foreach from=$menu.mainmenus.mainmenu item=rs}}
                                    <th  class="can-select mainmenu" main="1" module="{{$rs.module}}" onlyadmin="{{$rs.onlyadmin}}"><a href="#"><span class="text-success">{{$rs.name}}</span></a>
                                    <a href="#" class="pull-right deletemenu"><i class="fa fa-times "></i></a>
                                    </th>
                                    {{/foreach}}
                                    <th  style="width:100px;" id="lastMainMenu" >
                                        <button class="btn btn-success btn-block" id="btnAddMainMenu"><i class="fa fa-plus"></i> 分类</button>
                                    </th>
                                </tr>
                                <tr id="submenu_tr">
                                    <td><span class="text-muted">菜单项</span></td>
                                    <td class="nav-tabs-custom">
                                        <ul class="nav nav-tabs nav-stacked">
                                            <li ><a ><span >主控台</span></a></li>
                                            <li><a ><span >关于我们</span></a></li>
                                            <li><a ><span >用户管理</span></a></li>
                                        </ul>
                                    </td>
                                    {{foreach from=$menu.mainmenus.mainmenu item=rs}}
                                    <td class="nav-tabs-custom submenu">
                                        <ul class="nav nav-tabs nav-stacked">
                                            {{foreach from=$rs.submenus.submenu item=rss}}
                                            <li class="can-select" model="{{$rss.model}}"  onlyadmin="{{$rss.onlyadmin}}">
                                            <a href="#">
                                                <span class="text-primary menu_modelname">{{$rss.model}}</span>
                                                <i class="fa fa-times pull-right deletemenu"></i>
                                            </a>
                                            </li>
                                            {{/foreach}}
                                            <li ><button class="btn btn-primary btnAddSubMenu"><i class="fa fa-plus"></i> 菜单</button></li>
                                        </ul> 
                                    </td>
                                    {{/foreach}}
                                    <td id="lastMainMenuTD"></td>
                                </tr>
                            </table>
                        </div>
                        <!-- /.col -->


                        <div class="col-md-3 hide" id="divMainMenu">
                            <div class="box box-success">
                                <div class="box-header with-border">
                                    <h3 class="box-title">编辑</h3>
                                </div>
                                <div class="box-body ">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <form class="form-horizontal">
                                                <div class="form-group">
                                                    <label  class="col-sm-2 control-label">标识</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" id="mainmenu_module" placeholder="唯一标识，用于URL的其中一个参数，请输入纯英文"  data-toggle="tooltip" title="唯一标识，用于URL的其中一个参数，请输入纯英文">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label  class="col-sm-2 control-label">名称</label>
                                                        <div class="col-sm-10"><input type="text" class="form-control" id="mainmenu_name" placeholder="菜单分类名称，用于应用菜单界面显示" data-toggle="tooltip" title="菜单分类名称，用于应用菜单界面显示">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-offset-2 col-sm-10">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" id="mainmenu_onlyadmin"> 仅管理员可见
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-3 hide" id="divSubMenu">
                            <div class="box box-primary">
                                <div class="box-header with-border">
                                    <h3 class="box-title">编辑</h3>
                                    <!-- tools box -->
                                    <!-- /.box-tools -->
                                </div>
                                <div class="box-body ">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <form class="form-horizontal">
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">数据对象</label>
                                                    <div class="col-sm-9">
                                                        <select class="form-control" id="submenu_model">
                                                            <option value="">请选择字段类型</option>
                                                            {{foreach from=$modellist item=rs key=key}}
                                                            <option value="{{$rs.modelname}}">{{$rs.name}}</option>
                                                            {{/foreach}}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-offset-3 col-sm-9">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" id="submenu_onlyadmin"> 仅管理员可见
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>



                <div class="tab-pane active" id="tab_3">
                    <div class="row">
                        <div class="col-md-12">
                            <a href="#" class="btn btn-primary margin-bottom" id="btnSaveApiList" >保存</a>
                            <a href="#" class="btn btn-warning margin-bottom" id="btnBatchApiTest" >启动批量测试</a>
                        </div>
                        <div class="col-md-12">
                            <table class="table table-condensed" id="table_apilist">
                                <tr>
                                        <th><input type="checkbox" name="api_checkbox" id="api_checkbox_all" /></th>
                                        <th>链接</th>
                                        <th>类型</th>
                                        <th>模块</th>
                                        <th>方法</th>
                                        <th>描述</th>
                                        <th>操作</th>
                                        <th class="api_test hide">测试</th>
                                </tr>
                                {{foreach from=$apilist item=rs key=key}}
                                <tr id="api_{{$rs.model}}_{{$rs.func}}" class="api_item">
                                    <td><input {{if $rs.active=="1"}}checked="checked"{{/if}} type="checkbox" class="api_active" ></td>
                                    <td><a target="_blank" href="{{$Config.workspace.domain}}/{{$User.login}}/{{$appinfo.alias}}/api/{{$rs.model}}/{{$rs.func}}">/api/{{$rs.model}}/{{$rs.func}}</a></td>
                                    <td>{{if $rs.type=="model"}}数据模型{{else}}自定义{{/if}}</td>
                                    <td  class="api_model">{{$rs.model}}</td>
                                    <td class="api_func">{{$rs.func}}</td>
                                    <td class="api_description">{{$rs.description}}</td>
                                    <td>
                                        <a href="javascript:openApiEditor('{{$rs.model}}','{{$rs.func}}');" ><i class="fa fa-pencil-square-o"></i></a>
                                        <textarea  class="api_input hide">{{$rs.input}}</textarea>
                                        <textarea  class="api_output hide" >{{$rs.output}}</textarea>
                                        <input type="hidden" value="{{$rs.type}}" class="api_type" />
                                    </td>
                                    <td class="api_test hide">测试结果</td>
                                </tr>
                                {{/foreach}}
                            </table>
                        </div>
                        <div class="col-md-12">
                            <a href="javascript:openApiEditor('','');" class="btn btn-primary margin-bottom" id="btnCreateModel" >添加自定义接口</a>
                        </div>
                    </div>
                </div>







                <div class="tab-pane " id="tab_4">

                    <div class="row">
                        <div class="col-md-9">
                            <table class="table table-condensed" >
                                <tr id="versionTH">
                                    <th>版本</th>
                                    <th>签入日期</th>
                                    <th >描述</th>
                                    <th >操作</th>
                                </tr>
                                {{foreach from=$versionlist item=rs key=key}}
                                <tr >
                                    <td>{{if $rs.is_tag=="Y"}}<i class="fa fa-star text-warning"></i>{{/if}} {{$rs.version}}</td>
                                    <td>{{$rs.committed_date}}</td>
                                    <td>{{$rs.comment}}</td>
                                    <td><a href="javascript:rollback({{$rs.version}})" >回滚</a></td>
                                </tr>
                                {{/foreach}}
                            </table>
                        </div>
                        <div class="col-md-3">

                            <div class="box box-success">
                                <div class="box-header with-border">
                                    <h3 class="box-title">提交版本</h3>
                                </div>
                                <div class="box-body ">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <textarea class="form-control" rows="5" placeholder="请输入版本提交的描述" id="version_comment"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <div>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" id="version_is_tag"> 里程碑点
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="box-footer">
                                    <button  class="btn btn-success btn-block" id="btnSubmitVersion">提交</button>
                                </div>
                            </div>



                        </div>
                    </div>

                </div>

            </div>
            <!-- /.tab-content -->
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->



<div class="modal fade" id="dlgRecommModelList">
    <div class="modal-dialog" style="width:800px;">
        <div class="modal-content">
            <div class="modal-header bg-light-blue-active">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">推荐数据对象模型</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table">
                            <tr>
                                <th><input type="checkbox" id="recomm_modellist_select_all" /></th>
                                <th>模型名称</th>
                                <th>模型描述</th>
                            </tr>
                            {{foreach from=$recomm_modellist item=rs}}
                            {{if $rs.modelname!="alias"}}
                            <tr>
                                <td><input type="checkbox" name="recomm_modellist" value="{{$rs.modelname}}" /></td>
                                <td>{{$rs.name}}</td>
                                <td>{{$rs.description}}</td>
                            </tr>
                            {{/if}}
                            {{/foreach}}
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">取消</button>
                <span class="text-red" id="txtConfirmRecommModelList"></span>
                <button type="button" class="btn btn-primary" id="btnConfirmRecommModelList">应用</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->





<div class="modal fade" id="dlgCreateModel">
    <div class="modal-dialog" style="width:800px;">
        <div class="modal-content">
            <div class="modal-header bg-light-blue-active">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">创建数据对象模型</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group" >
                            <label class="col-sm-4 control-label"><span style="color:red;">*</span> 模型标识</label>
                            <div class="col-sm-8">
                                <input type="text" maxlength="15" class="form-control" id="cm_modelname" placeholder="唯一标识，仅支持全英文" data-toggle="tooltip" title="唯一标识，仅支持全英文">
                            </div>
                            <span class="help-block col-sm-offset-4"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" >
                            <label class="col-sm-4 control-label"><span style="color:red;">*</span> 模型名称</label>
                            <div class="col-sm-8">
                                <input type="text" maxlength="15" class="form-control" id="cm_name" placeholder="模型名称" >
                            </div>
                            <span class="help-block col-sm-offset-4"></span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group" >
                            <label class="col-sm-2 control-label"><span style="color:red;">*</span> 数据表名</label>
                            <div class="col-sm-10">
                                <input type="text" maxlength="15" class="form-control" id="cm_tablename" placeholder="数据表名" >
                            </div>
                            <span class="help-block col-sm-offset-4"></span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group" >
                            <label class="col-sm-2 control-label"><span style="color:red;">*</span> 创建方式</label>
                            <div class="col-sm-8">
                                <div class="form-group ">
                                  <div class="radio">
                                    <label>
                                      <input type="radio" name="optCreateModel" value="N" >
                                      重新开始创建
                                    </label>
                                  </div>
                                  <div class="radio">
                                    <label>
                                      <input type="radio" name="optCreateModel" value="C" checked="checked">
                                      从推荐列表中复制&nbsp;&nbsp;&nbsp;&nbsp;
                                      <select id="ddlRecommModelList">
                                          {{foreach from=$recomm_modellist item=rs}}
                                          <option value="{{$rs.modelname}}">{{$rs.name}}</option>
                                          {{/foreach}}
                                      </select>
                                    </label>
                                  </div>
                                  <div class="radio">
                                    <label>
                                      <input type="radio" name="optCreateModel" value="E">
                                      从现有模型中复制&nbsp;&nbsp;&nbsp;&nbsp;
                                      <select id="ddlExistModelList">
                                          {{foreach from=$modellist item=rs}}
                                          <option value="{{$rs.modelname}}">{{$rs.name}}</option>
                                          {{/foreach}}
                                      </select>
                                    </label>
                                  </div>
                                </div>
                            </div>
                            <span class="help-block col-sm-offset-4"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">取消</button>
                <span class="text-red" id="txtConfirmCreateModel"></span>
                <button type="button" class="btn btn-primary" id="btnConfirmCreateModel">保存</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->





<div class="modal fade" id="dlgApiEditor">
    <div class="modal-dialog" style="width:1000px;">
        <div class="modal-content">
            <div class="modal-header bg-light-blue-active">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">推荐数据对象模型</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group" >
                            <label class="col-sm-4 control-label"><span style="color:red;">*</span> 模块</label>
                            <div class="col-sm-8">
                                <input type="text" maxlength="15" class="form-control" id="dlg_api_model" placeholder="接口URL的模块，仅支持全英文" data-toggle="tooltip" title="接口URL的模块，仅支持全英文"/>
                            </div>
                            <span class="help-block col-sm-offset-4"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" >
                            <label class="col-sm-4 control-label"><span style="color:red;">*</span> 方法</label>
                            <div class="col-sm-8">
                                <input type="text" maxlength="15" class="form-control" id="dlg_api_func" placeholder="接口URL的方法，仅支持全英文" data-toggle="tooltip" title="接口URL的方法，仅支持全英文" />
                            </div>
                            <span class="help-block col-sm-offset-4"></span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group" >
                            <label class="col-sm-2 control-label"> 测试传入参数</label>
                            <div class="col-sm-10">
                                <textarea type="text"  class="form-control" id="dlg_api_input" placeholder="传入的测试数据，仅支持json格式" data-toggle="tooltip" title="传入的测试数据，仅支持json格式" ></textarea>
                            </div>
                            <span class="help-block col-sm-offset-4"></span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group" >
                            <label class="col-sm-2 control-label"> 测试匹配结果</label>
                            <div class="col-sm-10">
                                <textarea type="text"  class="form-control" id="dlg_api_output" placeholder="匹配的输出结果，仅支持json格式，可用*号变化返回，如{id:*,name:'*'}" data-toggle="tooltip" title="匹配的输出结果，仅支持json格式，可用*号变化返回，如{id:*,name:'*'}" ></textarea>
                            </div>
                            <span class="help-block col-sm-offset-4"></span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-2 control-label"> 接口描述</label>
                            <div class="col-sm-10">
                                <textarea type="text"  class="form-control" id="dlg_api_description" placeholder="描述，防止忘记这个API做什么" ></textarea>
                            </div>
                            <span class="help-block col-sm-offset-4"></span>
                        </div>
                    </div>
                </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">取消</button>
                <span class="text-red" id="txtApiConfirm"></span>
                <button type="button" class="btn btn-primary" id="btnApiConfirm">应用</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->








{{include  file="$smarty_root/footer.html" }}

<script type="text/javascript">
    $(document).ready(function(){
        $("#btnExecuteMysql").click(function(){
            if($(".db_op").length==0){
                info("清先添加模型");
                return;
            }
            $(".db_op").removeClass("hide");
            $(".db_op_th").removeClass("hide");
            $(".db_op").removeClass("ready");
            $(".db_op").addClass("ready");
            $(".db_op").html('<i class="fa fa-spinner fa-spin"></i>');
            $("#btnExecuteMysql").attr("disabled",true);
            batchExecute();
        });
        if ($("#table_modellist tr").length <= 2) {
            $("#txtConfirmRecommModelList").text("");
            $("#dlgRecommModelList").modal("show");
        }
        $("#recomm_modellist_select_all").change(function(){
            var checked=$("#recomm_modellist_select_all").prop("checked");
            $("input[name='recomm_modellist']").prop("checked",checked);
        });
        $("#btnConfirmRecommModelList").click(function(){
            var models=Array();
            $("input[name='recomm_modellist']:checked").each(function(){
                models.push($(this).val());
            });
            if(models.length==0){
                $("#txtConfirmRecommModelList").text("请至少选择一个模型");
            }

            var json = {"action":"applycommmodel", app_id: "{{$appinfo.id}}","models":models};
            $("#btnConfirmRecommModelList").attr("disabled", true);
            getJSON("{{$rootpath}}api/model", json, function (data) {
                if (data.code == 0) {
                    location.reload();
                } else {
                    $("#txtConfirmRecommModelList").text(data.result);
                }
            }, function () {
                $("#btnConfirmRecommModelList").attr("disabled", false);
            });
        });
        $("#btnCreateModel").click(function(){
            $("#txtConfirmCreateModel").text("");
            $("#dlgCreateModel").modal("show");

        });
        $("#btnConfirmCreateModel").click(function(){
            var modelname=$("#cm_modelname").val().toLowerCase();
            var name=$("#cm_name").val();
            var tablename=$("#cm_tablename").val();
            //"^[A-Za-z0-9]+$"
            if($.trim(modelname)==""){
                $("#txtConfirmCreateModel").text("唯一标示不能为空");
                return;
            }
            var pattern =  /^[A-Za-z0-9]+$/;
            if(!pattern.test(modelname)){
                $("#txtConfirmCreateModel").text("唯一标示仅能使用数字加英文");
                return;
            }
            if(getModelIn(modelname)){
                $("#txtConfirmCreateModel").text("唯一标示名已经存在");
                return;
            }
            if($.trim(name)==""){
                $("#txtConfirmCreateModel").text("模型名称不能为空");
                return;
            }
            if($.trim(tablename)==""){
                $("#txtConfirmCreateModel").text("数据表名不能为空");
                return;
            }
            var method=$("input[name='optCreateModel']:checked").val();
            var srcmodel="";
            if(method=="C"){
                srcmodel=$("#ddlRecommModelList").val();
            }else if(method=="E"){
                srcmodel=$("#ddlExistModelList").val();
            }

            var json = {"action":"createmodel", app_id: "{{$appinfo.id}}","modelname":modelname,"name":name,"method":method,"srcmodel":srcmodel,"tablename":tablename};
            $("#btnConfirmCreateModel").attr("disabled", true);
            getJSON("{{$rootpath}}api/model", json, function (data) {
                if (data.code == 0) {
                    window.location.href="/apps/model?app_id={{$appinfo.id}}&model="+modelname;
                } else {
                    $("#txtConfirmCreateModel").text(data.result);
                }
            }, function () {
                $("#btnConfirmCreateModel").attr("disabled", false);
            });
        });
    });
    function batchExecute(){
        if($(".db_op.ready").length==0){
            $("#btnExecuteMysql").attr("disabled",false);
            return;
        }
        var dp=$(".db_op.ready:first");
        var modelname=dp.attr("modelname");
            var json={action:"executesql",app_id:"{{$appinfo.id}}",modelname:modelname};
            getJSON("{{$rootpath}}api/model", json, function (data) {
                //alert(1);
                dp.removeClass("ready");
                setTimeout("batchExecute()", 1000 );
                    if(data.code==0){
                      dp.html('<span class="text-green">执行成功</span>');
                    }else if(data.code==1){
                      var ret="";
                      for(var i=0;i<data.return.length;i++){
                        ret+="<p>"+data.return[i]+"</p>";
                      }
                      dp.html('<span class="text-yellow">'+data.result+ret+'</span>');
                    }else{

                      var ret="";
                      for(var i=0;i<data.return.length;i++){
                        ret+="<p>"+data.return[i]+"</p>";
                      }
                      dp.html('<span class="text-red">'+data.result+ret+'</span>');
                    }
                });
        
    }
    function getModelName(modelname) {
        return $("#model_" + modelname + " .modelname").text();
    }
    function getModelIn(modelname) {
        return $("#model_" + modelname + " .modelname").length>0;
    }
</script>

<script>
    $(document).ready(function () {
        function functionBind() {
            $('.can-select').unbind('mouseenter').unbind('mouseleave');
            $(".can-select").hover(function () {
                $(this).addClass("bg-gray");
            }, function () {
                $(this).removeClass("bg-gray");
            });
            $('.btnAddSubMenu').unbind('click');
            $(".btnAddSubMenu").click(function () {
                var parent = $(this).parent();
                $(".can-select").removeClass("bg-gray-active");
                var newobj = $('<li class="can-select bg-gray-active"><a href="#"><span class="text-primary">##</span><i class="fa fa-times pull-right deletemenu"></a></li>');
                newobj.insertBefore(parent);
                functionBind();
                loadMenuItem(newobj);
            });
            $(".can-select").unbind("click");
            $(".can-select").click(function () {
                $(".can-select").removeClass("bg-gray-active");
                $(this).addClass("bg-gray-active");
                loadMenuItem($(this));
            });
            $(".deletemenu").unbind("click");
            $(".deletemenu").click(function(){
                if($(this).parent().attr("main")=="1"){
                    
                    var index=$(this).parent().index();
                    $(this).parent().remove();
                    var td=$($("#submenu_tr td")[index]);
                    td.remove();


                }else{
                    $(this).parent().parent().remove();
                }
            });
        }
        functionBind();
        $("#btnAddMainMenu").click(function () {
            $(".can-select").removeClass("bg-gray-active");
            var td = $('<th  class="can-select bg-gray-active mainmenu" main="1"><a href="#"><span class="text-success">###</span></a><a href="#" class="pull-right deletemenu"><i class="fa fa-times "></i></a></th>');
            td.insertBefore("#lastMainMenu");
            loadMenuItem(td);
            $('<td class="nav-tabs-custom submenu"><ul class="nav nav-tabs nav-stacked"><li ><button class="btn btn-primary btnAddSubMenu"><i class="fa fa-plus"></i> 菜单</button></li></ul></td>').insertBefore("#lastMainMenuTD");

            functionBind();
        });
        $("#mainmenu_module").change(function () {
            $(".can-select.bg-gray-active").attr("module", $(this).val());
        });
        $("#mainmenu_name").change(function () {
            $(".can-select.bg-gray-active").children("a").children("span").text($(this).val());
        });
        $("#mainmenu_onlyadmin").change(function () {
            $(".can-select.bg-gray-active").attr("onlyadmin", $(this).prop("checked") ? "1" : "0");
        });
        $("#submenu_model").change(function () {
            $(".can-select.bg-gray-active").attr("model", $(this).val());
            $(".can-select.bg-gray-active").children("a").children("span").text($(this).children("option:checked").text());
        });
        $("#submenu_onlyadmin").change(function () {
            $(".can-select.bg-gray-active").attr("onlyadmin", $(this).prop("checked") ? "1" : "0");
        });
        $("#btnSubmitMenu").click(function () {
            

            var mainmenu = Array();
            $("th.mainmenu").each(function (index) {
                var submenuTD = $($("td.submenu")[index]).children("ul").children("li");
                var main = { module: $(this).attr("module"), name: $(this).children("a").children("span").text(), onlyadmin: $(this).attr("onlyadmin") };
                var subs = Array();
                for (var i = 0; i < submenuTD.length - 1; i++) {
                    var submenu=$(submenuTD[i]);
                    var sub = { model: submenu.attr("model"), name: submenu.children("a").children("span").text(), onlyadmin: submenu.attr("onlyadmin") };
                    subs.push(sub);
                }
                main.submenus = { submenu: subs };
                mainmenu.push(main);
            });
            
            var menu = { "mainmenus": { "mainmenu": mainmenu } };

            
            var json = {"action":"submitmenu", app_id: "{{$appinfo.id}}","menu":menu};
            $("#btnSubmitMenu").attr("disabled", true);
            getJSON("{{$rootpath}}api/apps", json, function (data) {
                if (data.code == 0) {
                    info("提交成功，请登陆数据中心进行测试");
                } else {
                    error(data.result);
                }
            }, function () {
                $("#btnSubmitMenu").attr("disabled", false);
            });
        });
        function loadMenuItem(obj) {
            var is_main = obj.attr("main") ? "1" : "0";
            if (is_main == "1") {
                $("#divMainMenu").removeClass("hide");
                $("#divSubMenu").addClass("hide");
                $("#mainmenu_module").val(obj.attr("module"));
                $("#mainmenu_name").val(obj.text());
                $("#mainmenu_onlyadmin").prop("checked", obj.attr("onlyadmin") == "1");
            } else {

                $("#divSubMenu").removeClass("hide");
                $("#divMainMenu").addClass("hide");
                $("#submenu_model").val(obj.attr("model"));
                $("#submenu_onlyadmin").prop("checked", obj.attr("onlyadmin") == "1");

            }
        }
        $(".can-select:first").click();
        $(".menu_modelname").each(function () {
            $(this).text(getModelName($(this).text()));
        });
    });
</script>


<script type="text/javascript">
    $(document).ready(function () {
        $("#btnSaveApiList").click(function () {
            var apis = Array();
            $(".api_item").each(function () {
                var active = $(this).find(".api_active").prop("checked")?"1":"0";
                var api = {
                    active: active,
                    "type": $(this).find(".api_type").val(),
                    "model": $(this).find(".api_model").text(),
                    "func": $(this).find(".api_func").text(),
                    "input": $(this).find(".api_input").val(),
                    "output": $(this).find(".api_output").val()
                };
                if (api.type == "self") {
                    api.description = $(this).find(".api_description").text();
                }
                apis.push(api);
            });
            var json = { "action": "save", app_id: "{{$appinfo.id}}", apis: apis };
            $("#btnSaveApiList").attr("disabled", true);
            getJSON("{{$rootpath}}api/api", json, function (data) {
                if (data.code == 0) {

                    info("保存成功");
                    
                } else {
                    warning(data.result);
                }
            }, function () {
                $("#btnSaveApiList").attr("disabled", false);
            });
        });
        $("#api_checkbox_all").change(function () {
            $(".api_active").prop("checked", $("#api_checkbox_all").prop("checked"));
        });
    });
    function openApiEditor(model,func){
        var apiID="#api_"+model+"_"+func;
        var api=$(apiID);
        var isnew=(model==""||func=="");
        $("#txtApiConfirm").text("");
        $("#dlg_api_description").prop("disabled", false);
        if(isnew){

            $("#dlg_api_model").prop("disabled",false);
            $("#dlg_api_func").prop("disabled",false);
            $("#dlg_api_model").val("");
            $("#dlg_api_func").val("");
            $("#dlg_api_input").val("");
            $("#dlg_api_output").val("");
            $("#dlg_api_description").val("");
        }else{
            $("#dlg_api_model").prop("disabled",true);
            $("#dlg_api_func").prop("disabled", true);
            if(api.find(".api_type").val()=="model"){
                $("#dlg_api_description").prop("disabled",true);
            }

            $("#dlg_api_model").val(model);
            $("#dlg_api_func").val(func);
            $("#dlg_api_input").val(api.find(".api_input").val());
            $("#dlg_api_output").val(api.find(".api_output").val());
            $("#dlg_api_description").val(api.find(".api_description").text());
        }

        $("#btnApiConfirm").unbind("click");
        $("#btnApiConfirm").click(function(){
            if(isnew){
                model=$.trim($("#dlg_api_model").val().toLowerCase());
                func=$.trim($("#dlg_api_func").val().toLowerCase());


                var pattern =  /^[A-Za-z]+$/;
                if($.trim(model)==""||!pattern.test(model)){
                    $("#txtApiConfirm").text("模块仅能使用英文且不能为空");
                    return;
                }
                if($.trim(func)==""||!pattern.test(func)){
                    $("#txtApiConfirm").text("方法仅能使用英文且不能为空");
                    return;
                }
                if(func=="list"||func=="get"||func=="update"||func=="delete"){
                    $("#txtApiConfirm").text("方法不能使用list,get,update,delete，已经被数据模型预先使用");
                    return;
                }
            }
            var input=$.trim($("#dlg_api_input").val());
            var output=$.trim($("#dlg_api_output").val());
            if(input!=""){
                try{
                    JSON.parse(input);
                }catch(e){
                    $("#txtApiConfirm").text("测试传入参数可以为空，否则必须为JSON格式字符串");
                    return;
                }
            }
            if(output!=""){
                try{
                    JSON.parse(output);
                }catch(e){
                    $("#txtApiConfirm").text("测试测试结果可以为空，否则必须为JSON格式字符串");
                    return;
                }
            }
            var description=$.trim($("#dlg_api_description").val());
            if (isnew) {

                var newrow = $('<tr id="api_' + model + '_' + func + '"  class="api_item">' +
                '<td><input type="checkbox" class="api_active" ></td>' +
                '<td><a target="_blank" href="{{$Config.workspace.domain}}/{{$User.login}}/{{$appinfo.alias}}/api/' + model + '/' + func + '">/api/' + model + '/' + func + '</a></td>' +
                '<td>自定义</td>' +
                '<td class="api_model">' + model + '</td>' +
                '<td class="api_func">' + func + '</td>' +
                '<td class="api_description">' + description + '</td>' +
                '<td>' +
                '<a href="javascript:openApiEditor(\'' + model + '\',\'' + func + '\');" ><i class="fa fa-pencil-square-o"></i></a>' +
                '<input type="hidden" value="" class="api_input" />' +
                '<input type="hidden" value="" class="api_output" />' +
                '<input type="hidden" value="self" class="api_type" />' +
                '</td>' +
                '<td class="api_test hide">测试结果</td>' +
                '</tr>');
                newrow.find(".api_input").val(input);
                newrow.find(".api_output").val(output);

                $("#table_apilist").append(newrow);
            } else {
                api.find(".api_input").val(input);
                api.find(".api_output").val(output);
                api.find(".api_description").text(description);
            }
            $("#dlgApiEditor").modal("hide");
        });

        $("#dlgApiEditor").modal("show");

    }
</script>














<script>
    $(document).ready(function () {
        var cc = 0;
        $("#btnSubmitVersion").click(function () {
            

            var comment = $("#version_comment").val();
            if ($.trim(comment) == "") {
                warning("请填写版本描述");
                return;
            }
            var is_tag = $("#version_is_tag").prop("checked") ? "Y" : "N";
            var json = { action: "submit", app_id: "{{$appinfo.id}}", comment: comment, is_tag: is_tag };

            $("#btnSubmitVersion").attr("disabled", true);
            getJSON("{{$rootpath}}api/version", json, function (data) {
                if (data.code == 0) {
                    
                    var newtr = $('<tr >'
                            + '<td>' + (data.return.is_tag == "Y" ? '<i class="fa fa-star  text-warning"></i>' : "") + ' ' + data.return.version + '</td>'
                            + '<td>' + data.return.committed_date + '</td>'
                            + '<td>' + data.return.comment + '</td>'
                            + '<td><a href="javascript:rollback('+data.return.version+')">回滚</a></td>'
                            + '</tr>');

                    newtr.insertAfter("#versionTH");
                    info("提交成功");

                    $("#version_comment").val("");
                    $("#version_is_tag").prop("checked",false);
                } else {
                    warning(data.result);
                }
            }, function () {
                $("#btnSubmitVersion").attr("disabled", false);
            });
        });
    });
    function rollback(version) {
        warning("回滚将会<b>覆盖</b>当前的工作区文件，请问是否继续操作？<br /><br />同时回滚前会将当前版本先进行提交版本。", function () {
            var json = { action: "rollback", app_id: "{{$appinfo.id}}", version: version };
            getJSON("{{$rootpath}}api/version", json, function (data) {
                if (data.code == 0) {

                    location.reload();

                } else {
                    alert(data.result);
                }
            }, function () {
                $("#btnSubmitVersion").attr("disabled", false);
            });
        });
    }
</script>