{{include  file="$smarty_root/header.html" }}




<!-- =============================================== -->
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            应用配置
            <small>{{$appinfo.name}} <span class="badge bg-green">{{$appinfo.type_name}}</span></small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/apps"><i class="fa fa-th"></i> 我的应用</a></li>
            <li class="active">{{$appinfo.name}}的配置</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs pull-right">
              <li class="active"><a href="#tab_1" id="btn_tab_1" data-toggle="tab" class="btnTabClick">基本信息</a></li>
              <li><a href="#tab_2" id="btn_tab_2" data-toggle="tab" class="btnTabClick">数据库配置</a></li>
              <li><a href="#tab_3" id="btn_tab_3" data-toggle="tab" class="btnTabClick">发布环境配置</a></li>
              <li><a href="#tab_4" id="btn_tab_4" data-toggle="tab" class="btnTabClick">生成应用</a></li>
              <li class="pull-left header" id="tabtitle"><i class="fa fa-th" ></i> 基本信息</li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="tab_1">
                
              <!-- form start -->
              <form class="form-horizontal">
                <div class="box-body">
                  <div class="form-group">
                    <label for="app_name" class="col-md-2 control-label"><span style="color:red;">*</span> 应用名称</label>
                    <div class="col-md-10">
                      <input type="text" class="form-control" value="{{$appinfo.name}}" id="app_name" placeholder="请输入应用名称">
                    </div>
                  </div>
                    <div class="form-group" >
                        <label for="app_type"  class="col-md-2 control-label"><span style="color:red;">*</span> 应用类型</label>
                        <div class="col-md-10">
                            <select class="form-control" id="app_type" >
                                {{foreach from=$app_type_list item=rs}}
                                <option value="{{$rs.id}}" {{if $rs.id==$appinfo.type}}selected{{/if}}>{{$rs.name}}</option>
                                {{/foreach}}
                            </select>
                        </div>
                        <span class="help-block col-md-offset-4"></span>
                    </div>
                  <div class="form-group">
                    <label for="app_alias" class="col-md-2 control-label">应用代号</label>
                    <div class="col-md-10">
                      <input type="text" class="form-control" readonly="readonly" value="{{$appinfo.alias}}" id="app_alias" placeholder="代号作为应用的识别码，用于生成各种标示，请接收15位以下英文字符，自动转换为小写">
                    </div>
                  </div>
                  <div class="form-group">
                      <label class="col-sm-2 control-label"> 基于：</label>
                      <div class="col-sm-10">
                          <select class="form-control" id="appcreateby">
                              <option value="">从零开始</option>
                              <optgroup label="我创建的">
                                  {{foreach from=$apps item=rs}}
                                  {{if $rs.run_status!='C'}}
                                  <option value="A_{{$rs.id}}">{{$rs.name}}</option>
                                  {{/if}}
                                  {{/foreach}}
                              </optgroup>
                              <optgroup label="我购买的">
                                  {{foreach from=$buyapps item=rs}}
                                  <option value="B_{{$rs.app_id}}">{{$rs.app_name}}</option>
                                  {{/foreach}}
                              </optgroup>
                          </select>
                      </div>
                      <label class="col-sm-12 control-label"> <a href="/market">去应用市场找一下合适的应用？</a></label>
                  </div>
                  <div class="form-group">
                    <label for="info_description" class="col-md-2 control-label">应用介绍</label>
                    <div class="col-md-10">
                      <input type="text" class="form-control" id="info_description" placeholder="请简单的介绍一下你的应用" value="{{$appinfo.description}}">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="info_contact_name" class="col-md-2 control-label">联系人姓名</label>
                    <div class="col-md-10">
                      <input type="text" class="form-control" id="info_contact_name" placeholder="请输入你的姓名，在有问题的时候我们能够找到你" value="{{$appinfo.contact_name}}">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="info_contact_online" class="col-md-2 control-label">联系人在线联系方式</label>
                    <div class="col-md-10">
                      <input type="text" class="form-control" id="info_contact_online" value="{{$appinfo.contact_online}}" placeholder="请输入随便一种网上的联络方式，我们会优先在网上找你">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="info_contact_mobile" class="col-md-2 control-label">联系人手机号码</label>
                    <div class="col-md-10">
                      <input type="text" class="form-control" id="info_contact_mobile" placeholder="请输入你的联系人手机号码，必要时我们可以找到你本人" value="{{$appinfo.contact_mobile}}">
                    </div>
                  </div>
                  <button type="button" class="btn btn-default" onclick="goTab('tab_2')">&lt;&lt;配置数据库</button>
                </div>
                <!-- /.box-body -->

              </form>
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="tab_2">
                
                <div class="box box-info">
                  <div class="box-header with-border">
                    <h3 class="box-title">开发环境数据库配置</h3>
                  </div>
                  <!-- /.box-header -->
                  <!-- form start -->
                  <form class="form-horizontal">
                    <div class="box-body">
                      <div class="form-group">
                        <label for="db_dev_server" class="col-md-2 control-label">数据库连接</label>
                        <div class="col-md-10">
                          <input type="text" class="form-control" value="mysql.app-link.org:3306" readonly="readonly" id="db_dev_server" placeholder="数据库的连接字符串，例如mysql.app-link.org:3306">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="db_dev_dbname" class="col-md-2 control-label">数据库名称</label>
                        <div class="col-md-10">
                          <input type="text" class="form-control" id="db_dev_dbname"  readonly="readonly" value="{{$User.login}}_{{$appinfo.alias}}" placeholder="连接数据库的scheme名称">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="db_dev_login" class="col-md-2 control-label">用户名</label>
                        <div class="col-md-10">
                          <input type="text" class="form-control" id="db_dev_login"  readonly="readonly" value="{{$User.login}}" placeholder="连接数据库使用的用户名">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="db_dev_password" class="col-md-2 control-label">密码</label>
                        <div class="col-md-10">
                          <input type="text" class="form-control" id="db_dev_password"  readonly="readonly" value="{{$appinfo.dev_password}}" placeholder="连接数据库使用的密码">
                        </div>
                      </div>
                    </div>
                    <!-- /.box-footer -->
                  </form>
                </div>


                
                <div class="box box-success hide">
                  <div class="box-header with-border">
                    <h3 class="box-title">正式环境数据库配置 <small class="badge bg-green">可待开发完成后发布时再配置</small></h3>
                  </div>
                  <!-- /.box-header -->
                  <!-- form start -->
                  <form class="form-horizontal">
                    <div class="box-body">
                      <div class="form-group">
                        <label for="db_live_server" class="col-md-2 control-label">数据库连接</label>
                        <div class="col-md-10">
                          <input type="text" class="form-control"  id="db_live_server" value="{{$appinfo.live_server}}" placeholder="数据库的连接字符串，例如mysql.app-link.org:3306">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="db_live_dbname" class="col-md-2 control-label">数据库名称</label>
                        <div class="col-md-10">
                          <input type="text" class="form-control" id="db_live_dbname" value="{{$appinfo.live_dbname}}"  placeholder="连接数据库的scheme名称">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="db_live_login" class="col-md-2 control-label">用户名</label>
                        <div class="col-md-10">
                          <input type="text" class="form-control" id="db_live_login"   value="{{$appinfo.live_login}}"  placeholder="连接数据库使用的用户名">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="db_live_password" class="col-md-2 control-label">密码</label>
                        <div class="col-md-9">
                          <input type="password" class="form-control" id="db_live_password"  value="{{$appinfo.live_password}}"  placeholder="连接数据库使用的密码">
                        </div>
                        <div class="col-md-1">
                          <button type="button" class="btn btn-block btn-info" id="btnLiveDbConnecTest" >测试</button>
                        </div>
                      </div>
                    </div>
                    <!-- /.box-footer -->
                  </form>
                </div>


                  <button type="button" class="btn btn-default" onclick="goTab('tab_3')">&lt;&lt;配置发布环境</button>
                  <button type="button" class="btn btn-default pull-right" onclick="goTab('tab_1')">&gt;&gt;填写基本信息</button>

              </div>
              <!-- /.tab-pane -->

              <div class="tab-pane" id="tab_3">
                

                <div class="box box-info">
                  <div class="box-header with-border">
                    <h3 class="box-title">开发环境工作目录</h3>
                  </div>
                  <!-- /.box-header -->
                  <!-- form start -->
                  <form class="form-horizontal">
                    <div class="box-body">
                      <div class="form-group">
                        <label for="workspace_dev_remote_server" class="col-md-2 control-label">服务器路径</label>
                        <div class="col-md-2">
                            <select class="form-control" id="workspace_dev_remote_type" disabled="disabled"  >
                                <option value="FTP"  selected="selected">FTP</option>
                                <option value="SSH">SSH</option>
                            </select>
                        </div>
                        <div class="col-md-8">
                          <input type="text" class="form-control" value="ftp://remote.app-link.org/{{$appinfo.alias}}" readonly="readonly" id="workspace_dev_remote_server" placeholder="部署代码的远程服务器地址">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="workspace_dev_remote_login" class="col-md-2 control-label">用户名</label>
                        <div class="col-md-10">
                          <input type="text" class="form-control" id="workspace_dev_remote_login"  readonly="readonly" value="{{$User.login}}" placeholder="连接目录使用的用户名">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="workspace_dev_remote_password" class="col-md-2 control-label">密码</label>
                        <div class="col-md-10">
                          <input type="text" class="form-control" id="workspace_dev_remote_password"  readonly="readonly" value="{{$appinfo.dev_remote_password}}" placeholder="连接使用的密码">
                        </div>
                      </div>
                    </div>
                    <!-- /.box-footer -->
                  </form>
                </div>


                
                <div class="box box-success hide">
                  <div class="box-header with-border">
                    <h3 class="box-title">正式环境发布目录 <small class="badge bg-green">可待开发完成后发布时再配置</small></h3>
                  </div>
                  <!-- /.box-header -->
                  <!-- form start -->
                  <form class="form-horizontal">
                    <div class="box-body">
                      <div class="form-group">
                        <label for="workspace_live_remote_server" class="col-md-2 control-label">服务器路径</label>
                        <div class="col-md-2">
                            <select class="form-control" id="workspace_live_remote_type"  >
                                <option value="SSH" {{if $live_remote_type=="SSH"}}selected="selected"{{/if}}>SSH</option>
                                <option value="FTP" {{if $live_remote_type=="FTP"}}selected="selected"{{/if}}>FTP</option>
                            </select>
                        </div>
                        <div class="col-md-8">
                          <input type="text" class="form-control" value="{{$appinfo.live_remote_server}}" id="workspace_live_remote_server" placeholder="部署代码的远程服务器地址">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="workspace_live_remote_login" class="col-md-2 control-label">用户名</label>
                        <div class="col-md-10">
                          <input type="text" class="form-control" id="workspace_live_remote_login"  value="{{$appinfo.live_remote_login}}" placeholder="连接目录使用的用户名">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="workspace_live_remote_password" class="col-md-2 control-label">密码</label>
                        <div class="col-md-9">
                          <input type="password" class="form-control" id="workspace_live_remote_password" value="{{$appinfo.live_remote_password}}" placeholder="连接使用的密码">
                        </div>
                        <div class="col-md-1">
                          <button type="button" class="btn btn-block btn-info" id="btnLiveRemoteConnecTest" >测试</button>
                        </div>
                      </div>
                    </div>
                    <!-- /.box-footer -->
                  </form>
                </div>

                  {{if $appinfo.run_status=='C'}}
                  <button type="button" class="btn btn-success btnCreateApp"  onclick="goTab('tab_4')">生成应用</button>
                  {{else}}
                  <button type="button" class="btn btn-primary btnCreateApp"  onclick="goTab('tab_4')">重新生成应用</button>
                  {{/if}}
                  <button type="button" class="btn btn-default pull-right" onclick="goTab('tab_2')">&gt;&gt;配置数据库</button>


              </div>



              <div class="tab-pane" id="tab_4">
                
      <div class="box box-success">
            <div class="box-header">
              <h3 class="box-title" id="txtCreateAppTitle">发布应用到开发环境</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <table class="table table-striped">
                <tr>
                  <th style="width: 10px">#</th>
                  <th>任务</th>
                  <th>状态</th>
                  <th >结果</th>
                </tr>
                <tr id="pre_job_1" class="pre_job">
                  <td>1.</td>
                  <td>保存数据</td>
                  <td class="pre_job_status"><span class="label label-default">待启动</span></td>
                  <td class="pre_job_result"></td>
                </tr>
                <tr id="pre_job_2" class="pre_job">
                  <td>2.</td>
                  <td>创建开发环境MYSQL数据库</td>
                  <td class="pre_job_status"><span class="label label-default">待启动</span></td>
                  <td class="pre_job_result"></td>
                </tr>
                <tr id="pre_job_3" class="pre_job">
                  <td>3.</td>
                  <td>创建开发环境MYSQL数据库管理员表</td>
                  <td class="pre_job_status"><span class="label label-default">待启动</span></td>
                  <td class="pre_job_result"></td>
                </tr>
                <tr id="pre_job_4" class="pre_job">
                  <td>4.</td>
                  <td>创建开发环境MYSQL数据库开发者登录账户</td>
                  <td class="pre_job_status"><span class="label label-default">待启动</span></td>
                  <td class="pre_job_result"></td>
                </tr>
                <tr id="pre_job_5" class="pre_job">
                  <td>5.</td>
                  <td>创建开发环境远程工作目录</td>
                  <td class="pre_job_status"><span class="label label-default">待启动</span></td>
                  <td class="pre_job_result"></td>
                </tr>
                <tr id="pre_job_6" class="pre_job">
                  <td>6.</td>
                  <td>初始化开发环境远程工作目录相关代码</td>
                  <td class="pre_job_status"><span class="label label-default">待启动</span></td>
                  <td class="pre_job_result"></td>
                </tr>
                <tr id="pre_job_7" class="pre_job">
                  <td>7.</td>
                  <td>创建开发环境远程工作目录的登录账号</td>
                  <td class="pre_job_status"><span class="label label-default">待启动</span></td>
                  <td class="pre_job_result"></td>
                </tr>
                  <tr id="pre_job_8" class="pre_job">
                      <td>8.</td>
                      <td>设置为已完成配置状态</td>
                      <td class="pre_job_status"><span class="label label-default">待启动</span></td>
                      <td class="pre_job_result"></td>
                  </tr>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->




                  <a href="/apps" class="btn btn-default" >返回我的应用</a>
                  <button type="button" class="btn btn-default pull-right" onclick="goTab('tab_3')">&gt;&gt;配置发布环境</button>


              </div>



            </div>
            <!-- /.tab-content -->
          </div>
          <!-- nav-tabs-custom -->
          <button class="btn  ">返回</button>
          {{if $appinfo.run_status=='C'}}
          <button type="button" class="btn btn-success btnCreateApp" >生成应用</button>
          {{/if}}
          <button type="button" class="btn btn-primary btnSaveApp" >保存</button>

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
{{include  file="$smarty_root/footer.html" }}

<script type="text/javascript">
    $(document).ready(function(){
        $(".btnTabClick").click(function(){
            $("#tabtitle").html('<i class="fa fa-th" ></i> '+$(this).text());
        });
        $(".btnSaveApp").click(function () {


            var appcreateby = $("#appcreateby").val().split("_");
            var create_type = "";
            var create_app_id = "";
            if (appcreateby.length == 2) {
                create_type = appcreateby[0];
                create_app_id = appcreateby[1];
            }

            var json = {
                action: "saveconfig", app_id: "{{$appinfo.id}}", name: $("#app_name").val(), type: $("#app_type").val(), alias: $("#app_alias").val()
          , description: $("#info_description").val(), contact_name: $("#info_contact_name").val(), contact_online: $("#info_contact_online").val(), contact_mobile: $("#info_contact_mobile").val()
          , live_server: $("#db_live_server").val(), live_dbname: $("#db_live_dbname").val(), live_login: $("#db_live_login").val(), live_password: $("#db_live_password").val()
          , live_remote_type: $("#workspace_live_remote_type").val(), live_remote_server: $("#workspace_live_remote_server").val(), live_remote_login: $("#workspace_live_remote_login").val(), live_remote_password: $("#workspace_live_remote_password").val(),
          create_type: create_type,
          create_app_id: create_app_id
            };
            //alert(json.length);

            getJSON("/api/apps", json, function (data) {
                //alert(data.result);
                if (data.code == "0") {
                    info("保存成功");
                } else {
                    error(data.result);
                }
            }, function () {
                
            }, function () {
                
            });

        });
        $("#btnLiveDbConnecTest").click(function(){
            var server=$("#db_live_server").val();
            var dbname=$("#db_live_dbname").val();
            var login=$("#db_live_login").val();
            var password=$("#db_live_password").val();
            if($.trim(server)==""
              ||$.trim(dbname)==""
              ||$.trim(login)==""
              ||$.trim(password)==""){
              info("数据库相关连接信息不能为空");
            }
            $("#btnLiveDbConnecTest").attr("disabled", true);
            var json={action:"testconnect",server:server,
            dbname:dbname,login:login,password:password
            };
            getJSON("{{$rootpath}}api/mysql", json, function (data) {
                if (data.code == 0) {
                    info("数据库连接成功");
                } else  {
                    error(data.result);
                }
            },function(){
              $("#btnLiveDbConnecTest").attr("disabled", false);
            });
        });
        $("#btnLiveRemoteConnecTest").click(function(){
            var type=$("#workspace_live_remote_type").val();
            var server=$("#workspace_live_remote_server").val();
            var login=$("#workspace_live_remote_login").val();
            var password=$("#live_remote_password").val();
            if($.trim(server)==""
              ||$.trim(dbname)==""
              ||$.trim(login)==""
              ||$.trim(password)==""){
              info("发布目录相关连接信息不能为空");
            }
            $("#btnLiveRemoteConnecTest").attr("disabled", true);
            var json={action:"testconnect",type:type,
            server:server,login:login,password:password
            };
            getJSON("{{$rootpath}}api/remote", json, function (data) {
                if (data.code == 0) {
                    info("正式环境发布目录连接成功");
                } else  {
                    error(data.result);
                }
            },function(){
              $("#btnLiveRemoteConnecTest").attr("disabled", false);
            });
        });

        $(".btnCreateApp").click(function(){
          goTab('tab_4');
          prepare_job();
          $(".btnCreateApp")
        });

        function prepare_job(){
          $("#txtCreateAppTitle").text("正在生成应用开发环境...");
          $(".pre_job .pre_job_status").html('<span class="label label-default">待启动</span>');
          $(".pre_job .pre_job_result").html('');

          job_1_saveconfig();
        }
        if ("{{$appinfo.create_type}}" != "") {
            $("#appcreateby").val("{{$appinfo.create_type}}_{{$appinfo.create_app_id}}");
        }


    });

    function goTab(tabname){
        $("#btn_"+tabname).click();
    }

        function job_1_saveconfig(nonext){
            jobchangetoRunning(1);



            var appcreateby = $("#appcreateby").val().split("_");
            var create_type = "";
            var create_app_id = "";
            if (appcreateby.length == 2) {
                create_type = appcreateby[0];
                create_app_id = appcreateby[1];
            }

          var json={action:"saveconfig",app_id:"{{$appinfo.id}}",name:$("#app_name").val(),type:$("#app_type").val(),alias:$("#app_alias").val()
          ,description:$("#info_description").val(),contact_name:$("#info_contact_name").val(),contact_online:$("#info_contact_online").val(),contact_mobile:$("#info_contact_mobile").val()
          ,live_server:$("#db_live_server").val(),live_dbname:$("#db_live_dbname").val(),live_login:$("#db_live_login").val(),live_password:$("#db_live_password").val()
          , live_remote_type: $("#workspace_live_remote_type").val(), live_remote_server: $("#workspace_live_remote_server").val(), live_remote_login: $("#workspace_live_remote_login").val(), live_remote_password: $("#workspace_live_remote_password").val(),
          create_type: create_type,
          create_app_id: create_app_id

            };
            //alert(json.length);

            getJSON("/api/apps",json,function(data){
              //alert(data.result);
                if(data.code=="0"){
                    jobchangetofinish(1,"success","成功","运行成功");
                }else if(data.code=="1"){

                    jobchangetofinish(1,"warning","警告",data.result);
                }else if(data.code=="-1"){

                    jobchangetofinish(1,"danger","错误",data.result,"job_1_saveconfig");
                }
            },function(){
                job_2_createdatabase();
            },function(){
              jobchangetofinish(1,"danger","错误","未知错误原因，请联系系统管理员","job_1_saveconfig");
            });
          

        }

        function job_2_createdatabase(nonext){
          jobchangetoRunning(2);
          var json={action:"createdb",app_id:"{{$appinfo.id}}" };
            //alert(json.length);

            getJSON("/api/apps",json,function(data){
              //alert(data.result);
                if(data.code=="0"){
                    jobchangetofinish(2,"success","成功","运行成功");
                }else if(data.code=="1"){

                    jobchangetofinish(2,"warning","警告",data.result);
                }else if(data.code=="-1"){

                    jobchangetofinish(2,"danger","错误",data.result,"job_2_createdatabase");
                }
            },function(){
                job_3_createdadmintable();
            },function(){
              jobchangetofinish(2,"danger","错误","未知错误原因，请联系系统管理员","job_2_createdatabase");
            });
          

        }

        function job_3_createdadmintable(nonext) {
            var step = 3;
            jobchangetoRunning(step);
            var json = { action: "createdadmintable", app_id: "{{$appinfo.id}}" };
            //alert(json.length);

            getJSON("/api/apps", json, function (data) {
                //alert(data.result);
                if (data.code == "0") {
                    jobchangetofinish(step, "success", "成功", "运行成功");
                } else if (data.code == "1") {

                    jobchangetofinish(step, "warning", "警告", data.result);
                } else if (data.code == "-1") {

                    jobchangetofinish(step, "danger", "错误", data.result, "job_3_createdadmintable");
                }
            }, function () {
                job_4_setdbaccount();
            }, function () {
                jobchangetofinish(step, "danger", "错误", "未知错误原因，请联系系统管理员", "job_3_createdadmintable");
            });


        }

        function job_4_setdbaccount(nonext) {
            var step = 4;
            jobchangetoRunning(step);
            var json = { action: "setdbaccount", app_id: "{{$appinfo.id}}" };
            //alert(json.length);

            getJSON("/api/apps", json, function (data) {
                //alert(data.result);
                if (data.code == "0") {
                    jobchangetofinish(step, "success", "成功", "运行成功");
                } else if (data.code == "1") {

                    jobchangetofinish(step, "warning", "警告", data.result);
                } else if (data.code == "-1") {

                    jobchangetofinish(step, "danger", "错误", data.result, "job_4_setdbaccount");
                }
            }, function () {
                job_5_setworkspace();
            }, function () {
                jobchangetofinish(step, "danger", "错误", "未知错误原因，请联系系统管理员", "job_4_setdbaccount");
            });


        } 

        function job_5_setworkspace(nonext) {
            var step = 5;
            jobchangetoRunning(step);
            var json = { action: "setworkspace", app_id: "{{$appinfo.id}}" };
            //alert(json.length);

            getJSON("/api/apps", json, function (data) {
                //alert(data.result);
                if (data.code == "0") {
                    jobchangetofinish(step, "success", "成功", "运行成功");
                } else if (data.code == "1") {

                    jobchangetofinish(step, "warning", "警告", data.result);
                } else if (data.code == "-1") {

                    jobchangetofinish(step, "danger", "错误", data.result, "job_5_setworkspace");
                }
            }, function () {
                job_6_initworkspace();
            }, function () {
                jobchangetofinish(step, "danger", "错误", "未知错误原因，请联系系统管理员", "job_5_setworkspace");
            });


        }

        function job_6_initworkspace(nonext) {
            var step = 6;
            jobchangetoRunning(step);
            var json = { action: "initworkspace", app_id: "{{$appinfo.id}}" };
            //alert(json.length);

            getJSON("/api/apps", json, function (data) {
                //alert(data.result);
                if (data.code == "0") {
                    jobchangetofinish(step, "success", "成功", "运行成功");
                } else if (data.code == "1") {

                    jobchangetofinish(step, "warning", "警告", data.result);
                } else if (data.code == "-1") {

                    jobchangetofinish(step, "danger", "错误", data.result, "job_6_initworkspace");
                }
            }, function () {
                job_7_initworkspace();
            }, function () {
                jobchangetofinish(step, "danger", "错误", "未知错误原因，请联系系统管理员", "job_6_initworkspace");
            });


        }
        function job_7_initworkspace(nonext) {
            var step = 7;
            jobchangetoRunning(step);
            var json = { action: "setworkspaceaccount", app_id: "{{$appinfo.id}}" };
            //alert(json.length);

            getJSON("/api/apps", json, function (data) {
                //alert(data.result);
                if (data.code == "0") {
                    jobchangetofinish(step, "success", "成功", "运行成功");
                } else if (data.code == "1") {

                    jobchangetofinish(step, "warning", "警告", data.result);
                } else if (data.code == "-1") {

                    jobchangetofinish(step, "danger", "错误", data.result, "job_7_initworkspace");
                }
            }, function () {
                job_8_configdone();
            }, function () {
                jobchangetofinish(step, "danger", "错误", "未知错误原因，请联系系统管理员", "job_7_initworkspace");
            });


        }
        function job_8_configdone(nonext) {
            var step = 8;
            jobchangetoRunning(step);
            var json = { action: "configdone", app_id: "{{$appinfo.id}}" };
            //alert(json.length);

            getJSON("/api/apps", json, function (data) {
                //alert(data.result);
                if (data.code == "0") {
                    jobchangetofinish(step, "success", "成功", "运行成功");
                } else if (data.code == "1") {

                    jobchangetofinish(step, "warning", "警告", data.result);
                } else if (data.code == "-1") {

                    jobchangetofinish(step, "danger", "错误", data.result, "job_8_configdone");

                }
            }, function () {
                finish_jobs();
            }, function () {
                jobchangetofinish(step, "danger", "错误", "未知错误原因，请联系系统管理员", "job_8_configdone");
            });


        }
        
        function jobchangetoRunning(num){
          $("#pre_job_"+num+" .pre_job_status").html('<span class="label label-info">运行中</span>');
          $("#pre_job_"+num+" .pre_job_result").html('');
        }
        function jobchangetofinish(num,status,status_name,result,rejob){

          var rejob_str="";
          if(rejob!=null){
            rejob_str="<a href='javascript:"+rejob+"(false);'>重新运行</a>";
          }
          //alert('<span class="badge">'+result+rejob_str+'</span>');
          $("#pre_job_"+num+" .pre_job_status").html('<span class="label label-'+status+'">'+status_name+'</span>');
          $("#pre_job_"+num+" .pre_job_result").html(result+rejob_str);
        }
        function finish_jobs(){
          $("#txtCreateAppTitle").text("应用环境生成结束");
          var havedanger = $(".pre_job .label-danger").length > 0;
          if (havedanger) {
              error("很遗憾，应用配置过程中出现一些错误，请重试或者联系管理员，谢谢你的使用。");
          } else {
              info("恭喜你，应用已经成功进行初始化配置，接下来你可以开始一段奇妙之旅", function () {
                  window.location.href = "/apps/board?id={{$appinfo.id}}";
              });
          }
        }
</script>