{{include  file="$smarty_root/header.html" }}




<!-- =============================================== -->
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            应用配置
            <small>{{$appinfo.name}} <span class="badge bg-green">{{$appinfo.type_name}}</span></small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/apps"><i class="fa fa-th"></i> 我的应用</a></li>
            <li class="active">{{$appinfo.name}}的配置</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs pull-right">
              <li class="active"><a href="#tab_1" id="btn_tab_1" data-toggle="tab" class="btnTabClick">基本信息</a></li>
              <li><a href="#tab_2" id="btn_tab_2" data-toggle="tab" class="btnTabClick">数据库配置</a></li>
              <li><a href="#tab_3" id="btn_tab_3" data-toggle="tab" class="btnTabClick">发布配置</a></li>
              <li class="pull-left header" id="tabtitle"><i class="fa fa-th" ></i> 基本信息</li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="tab_1">
                
              <!-- form start -->
              <form class="form-horizontal">
                <div class="box-body">
                  <div class="form-group">
                    <label for="app_name" class="col-sm-2 control-label"><span style="color:red;">*</span> 应用名称</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" value="{{$appinfo.name}}" id="app_name" placeholder="请输入应用名称">
                    </div>
                  </div>
                    <div class="form-group" >
                        <label for="app_type"  class="col-sm-2 control-label"><span style="color:red;">*</span> 应用类型</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="app_type" >
                                {{foreach from=$app_type_list item=rs}}
                                <option value="{{$rs.id}}" {{if $rs.id==$appinfo.type}}selected{{/if}}>{{$rs.name}}</option>
                                {{/foreach}}
                            </select>
                        </div>
                        <span class="help-block col-sm-offset-4"></span>
                    </div>
                  <div class="form-group">
                    <label for="app_alias" class="col-sm-2 control-label">应用代号</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" readonly="readonly" value="{{$appinfo.alias}}" id="app_alias" placeholder="代号作为应用的识别码，用于生成各种标示，请接收15位以下英文字符，自动转换为小写">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="info_description" class="col-sm-2 control-label">应用介绍</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="info_description" placeholder="请简单的介绍一下你的应用">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="info_contact_name" class="col-sm-2 control-label">联系人姓名</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="info_contact_name" placeholder="请输入你的姓名，在有问题的时候我们能够找到你">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="info_contact_online" class="col-sm-2 control-label">联系人在线联系方式</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="info_contact_online" placeholder="请输入随便一种网上的联络方式，我们会优先在网上找你">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="info_contact_mobile" class="col-sm-2 control-label">联系人手机号码</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="info_contact_mobile" placeholder="请输入你的联系人手机号码，必要时我们可以找到你本人">
                    </div>
                  </div>
                  <button type="button" class="btn btn-default" onclick="goTab('tab_2')"><<配置数据库</button>
                </div>
                <!-- /.box-body -->

              </form>
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="tab_2">
                
                <div class="box box-info">
                  <div class="box-header with-border">
                    <h3 class="box-title">开发环境数据库配置</h3>
                  </div>
                  <!-- /.box-header -->
                  <!-- form start -->
                  <form class="form-horizontal">
                    <div class="box-body">
                      <div class="form-group">
                        <label for="db_dev_server" class="col-sm-2 control-label">数据库连接</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" value="mysql.app-link.org:3306" readonly="readonly" id="db_dev_server" placeholder="数据库的连接字符串，例如mysql.app-link.org:3306">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="db_dev_db_name" class="col-sm-2 control-label">数据库名称</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="db_dev_db_name"  readonly="readonly" value="{{$User.login}}_{{$appinfo.alias}}" placeholder="连接数据库的scheme名称">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="db_dev_login" class="col-sm-2 control-label">用户名</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="db_dev_login"  readonly="readonly" value="{{$User.login}}" placeholder="连接数据库使用的用户名">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="db_dev_password" class="col-sm-2 control-label">密码</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="db_dev_password"  readonly="readonly" value="{{$appinfo.dev_password}}" placeholder="连接数据库使用的密码">
                        </div>
                      </div>
                    </div>
                    <!-- /.box-footer -->
                  </form>
                </div>


                
                <div class="box box-success">
                  <div class="box-header with-border">
                    <h3 class="box-title">正式环境数据库配置 <small class="badge bg-green">可待开发完成后发布时再配置</small></h3>
                  </div>
                  <!-- /.box-header -->
                  <!-- form start -->
                  <form class="form-horizontal">
                    <div class="box-body">
                      <div class="form-group">
                        <label for="db_live_server" class="col-sm-2 control-label">数据库连接</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control"  id="db_live_server" placeholder="数据库的连接字符串，例如mysql.app-link.org:3306">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="db_live_db_name" class="col-sm-2 control-label">数据库名称</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="db_live_db_name" placeholder="连接数据库的scheme名称">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="db_live_login" class="col-sm-2 control-label">用户名</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="db_live_login"   placeholder="连接数据库使用的用户名">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="db_live_password" class="col-sm-2 control-label">密码</label>
                        <div class="col-sm-10">
                          <input type="password" class="form-control" id="db_live_password" placeholder="连接数据库使用的密码">
                        </div>
                      </div>
                    </div>
                    <!-- /.box-footer -->
                  </form>
                </div>


                  <button type="button" class="btn btn-default" onclick="goTab('tab_3')"><<配置发布环境</button>
                  <button type="button" class="btn btn-default pull-right" onclick="goTab('tab_1')">>>填写基本信息</button>

              </div>
              <!-- /.tab-pane -->

              <div class="tab-pane" id="tab_3">
                

                <div class="box box-info">
                  <div class="box-header with-border">
                    <h3 class="box-title">开发环境工作目录</h3>
                  </div>
                  <!-- /.box-header -->
                  <!-- form start -->
                  <form class="form-horizontal">
                    <div class="box-body">
                      <div class="form-group">
                        <label for="workspace_dev_ftpserver" class="col-sm-2 control-label">FTP路径</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" value="ftp://ftp.app-link.org:21/{{$User.login}}/{{$appinfo.alias}}" readonly="readonly" id="workspace_dev_ftpserver" placeholder="代码的FTP服务器地址">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="workspace_dev_ftplogin" class="col-sm-2 control-label">用户名</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="workspace_dev_ftplogin"  readonly="readonly" value="{{$User.login}}" placeholder="连接使用的用户名">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="workspace_dev_ftppassword" class="col-sm-2 control-label">密码</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="workspace_dev_ftppassword"  readonly="readonly" value="{{$appinfo.dev_ftppassword}}" placeholder="连接数据库使用的密码">
                        </div>
                      </div>
                    </div>
                    <!-- /.box-footer -->
                  </form>
                </div>


                
                <div class="box box-success">
                  <div class="box-header with-border">
                    <h3 class="box-title">正式环境数据库配置 <small class="badge bg-green">可待开发完成后发布时再配置</small></h3>
                  </div>
                  <!-- /.box-header -->
                  <!-- form start -->
                  <form class="form-horizontal">
                    <div class="box-body">
                      <div class="form-group">
                        <label for="db_live_server" class="col-sm-2 control-label">数据库连接</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control"  id="db_live_server" placeholder="数据库的连接字符串，例如mysql.app-link.org:3306">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="db_live_db_name" class="col-sm-2 control-label">数据库名称</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="db_live_db_name" placeholder="连接数据库的scheme名称">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="db_live_login" class="col-sm-2 control-label">用户名</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="db_live_login"   placeholder="连接数据库使用的用户名">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="db_live_password" class="col-sm-2 control-label">密码</label>
                        <div class="col-sm-10">
                          <input type="password" class="form-control" id="db_live_password" placeholder="连接数据库使用的密码">
                        </div>
                      </div>
                    </div>
                    <!-- /.box-footer -->
                  </form>
                </div>





              </div>


            </div>
            <!-- /.tab-content -->
          </div>
          <!-- nav-tabs-custom -->
          <button class="btn  ">返回</button>
          <button class="btn btn-warning ">复原</button>
          <button class="btn btn-primary ">保存</button>

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
{{include  file="$smarty_root/footer.html" }}

<script type="text/javascript">
    $(document).ready(function(){
        $(".btnTabClick").click(function(){
            $("#tabtitle").html('<i class="fa fa-th" ></i> '+$(this).text());
        });
    });
    function goTab(tabname){
        $("#btn_"+tabname).click();
    }
</script>