{{include  file="$smarty_root/header.html" }}


<!-- =============================================== -->
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="row">
            <div class="col-md-10">
                <h2>
                    <i class="fa fa-th"></i> 我的应用(<span id="txtAppCount">{{$appcount+0}}</span>/{{$Setting.max_created_apps}})
                    <small>您可以在这里创建、设置并管理您的应用</small>
                </h1>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-block btn-primary pull-right btnCreate">
                    <span class="glyphicon glyphicon-plus"></span>
                    创建新应用
                </button>
            </div>
        </div>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="well hide " id="noapptips">
            <p>您还没有任何应用,先去<a href="#" class="btnCreate">新建一个应用</a>吧!</p>
        </div>
          {{foreach from=$apps item=rs}}
          <div class="box box-primary collapsed-box box-solid appinfobox" id="app_{{$rs.id}}" >
            <div class="box-header with-border">
                <div class="row">
                    <div class="col-md-2">{{$rs.name}}</div>
                    <div class="col-md-2">{{$rs.type_name}}类应用</div>
                    <div class="col-md-2"><span>{{getDateStr date=$rs.created_date}} 创建</span></div>
                    {{if $rs.run_status=="C"}}
                    <div class="col-md-2">
                        <a href="/apps/config?id={{$rs.id}}" class="badge bg-yellow-active"> 等待配置</a>
                    </div>
                    {{elseif $rs.run_status=="P"}}
                    <div class="col-md-1">
                        <a class="badge bg-green-active" appid="{{$rs.id}}">运行中</a>
                    </div>
                    <div class="col-md-1">
                        <a class="fa fa-stop btnStopApp" href="#" appid="{{$rs.id}}"> 立即停止</a>
                    </div>
                    {{else}}
                    <div class="col-md-1">
                        <a class="badge bg-gray-active" appid="{{$rs.id}}">已停止</a>
                    </div>
                    <div class="col-md-1">
                        <a class="fa fa-play btnStartApp" href="#" appid="{{$rs.id}}"> 立即启动</a>
                    </div>
                    {{/if}}
                    <div class="col-md-1">
                        <a href="#" class="fa fa-trash btnDeleteApp" aid="{{$rs.id}}" ></a>
                    </div>
                    <div class="col-md-1">
                        <a href="/apps/config?id={{$rs.id}}">配置</a>
                    </div>
                    <div class="col-md-1">
                        <a href="/apps/board?id={{$rs.id}}" class='{{if $rs.run_status=="C"}}hide{{/if}}' >管理</a>
                    </div>
                    <div class="col-md-1">
                        <a href="{{$Config.workspace.domain}}/{{$User.login}}/{{$rs.alias}}" class='{{if $rs.run_status=="C"}}hide{{/if}}' target="_blank">数据中心</a>
                    </div>
                </div>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
              <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              暂无数据
            </div>
            <!-- /.box-body -->              

          </div>
          <!-- /.box -->
        {{/foreach}}

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<div class="modal fade" id="dlgCreate">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-light-blue-active">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">创建应用</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-10">
                        <form class="form-horizontal">
                            <div class="form-group" id="appname_fg">
                                <label  class="col-sm-3 control-label"><span style="color:red;">*</span> 应用名称</label>
                                <div class="col-sm-9">
                                    <input type="text" maxlength="15" class="form-control" id="appname" placeholder="应用名称不超过15个字">
                                </div>
                                <span class="help-block col-sm-offset-4"></span>
                            </div>
                            <div class="form-group" id="apptype_fg">
                                <label  class="col-sm-3 control-label"><span style="color:red;">*</span> 应用类型</label>
                                <div class="col-sm-9">
                                    <select class="form-control" id="apptype" >
                                        <option>请选择应用类型</option>
                                        {{foreach from=$app_type_list item=rs}}
                                        <option value="{{$rs.id}}">{{$rs.name}}</option>
                                        {{/foreach}}
                                    </select>
                                </div>
                                <span class="help-block col-sm-offset-4"></span>
                            </div>
                            <div class="form-group" id="appalias_fg">
                                <label  class="col-sm-3 control-label"><span style="color:red;">*</span> 应用代号</label>
                                <div class="col-sm-9">
                                    <input type="text" maxlength="15" class="form-control" id="appalias" placeholder="代号作为应用的识别码，用于生成各种标示，请接收15位以下英文字符，自动转换为小写">
                                </div>
                                <span class="help-block col-sm-offset-4"></span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="btnCreatApp">创建</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


{{include  file="$smarty_root/footer.html" }}

<script>
    $(document).ready(function () {
        function checkIfShowNoaPP(){
            if($(".appinfobox").length>0){
                $("#noapptips").addClass("hide");
            }else{
                $("#noapptips").removeClass("hide");
            }
            $("#txtAppCount").html($(".appinfobox").length);
        }
        checkIfShowNoaPP();
        $(".btnCreate").click(function () {
            $("#dlgCreate").modal("show");
        });

        $("#btnCreatApp").click(function () {

            var name = $("#appname").val();
            var type = $("#apptype").val();
            var alias = $("#appalias").val();
            var json = {
                action: "createapp",
                name: name,
                type:type,
                alias:alias
            };
            $("#btnCreatApp").attr("disabled", true);
            $(".has-error .help-block").html("");
            $(".has-error").removeClass("has-error");
            getJSON("{{$rootpath}}api/apps", json, function (data) {
                if (data.code == 0) {
                    window.location.href="{{$rootpath}}apps/config?id="+data.return;
                } else if (data.code == -1) {
                    $("#" + data.return + "_fg").addClass("has-error");
                    $("#" + data.return + "_fg .help-block").html(data.result);
                }
            }, function () {
                $("#btnCreatApp").attr("disabled", false);
            });
            
        });

        $(".btnDeleteApp").click(function(){
            var id=$(this).attr("aid");
            var json={
                action:"deleteapp",
                id:id
            };
            warning("删除应用后将不可恢复，请先保存好数据，继续请按确定",function(){
                getJSON("{{$rootpath}}api/apps",json);
                $("#app_"+id).remove();
                checkIfShowNoaPP();
            });
        });

        $(".btnStopApp").click(function () {
            var id = $(this).attr("appid");
            var json = {
                action: "start",
                id: id
            };
            info("启动后数据管理员将可以进行修改，继续请按确定", function () {
                getJSON("{{$rootpath}}api/apps", json, function (data) {
                    
                });
            });
        });
        
    });
    
</script>