<div class="row">
    <div class="col-md-12">
        <div id='{{$id}}_table_chart' style=' height: 200px; margin: 0 auto'></div>
    </div>
    <div class="col-md-6">
        <div id='{{$id}}_space_chart' style=' height: 300px; margin: 0 auto'></div>
    </div>
    <div class="col-md-6">
        <div id='{{$id}}_apioutput_chart' style=' height: 300px; margin: 0 auto'></div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){



        $('#{{$id}}_table_chart').highcharts({
                chart: {type: 'column'},
                title: { text: '数据库分析'},
                subtitle: {text: ''},
                xAxis: {type: 'category'},
                yAxis: {title: {text: ''}},
                legend: {
                    enabled: false
                },

                series: [{
                    name: '数据行数',
                    colorByPoint: true,
                    data: [
                    {{foreach from=$tables item=rs key=key}}
                    {{if $key>0}},{{/if}}{   name:'{{$rs.TABLE_NAME}}',y:{{$rs.TABLE_ROWS}}   }
                    {{/foreach}}
                                                            
                                        ]
                }]
                });

        var spaces=new Array();
        {{foreach from=$spaces item=rs key=key}}
        spaces.push(['{{$key}}',   {{$rs}}]);
        {{/foreach}}
        $('#{{$id}}_space_chart').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: '使用云空间('+bytesToSize({{$total_space}})+')'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false
                    },
                    showInLegend: true
                }
            },
            series: [{
                type: 'pie',
                name: '占用空间',
                data: spaces
            }]
        });

        var cats=new Array();
        var catdata=new Array();
        {{foreach from=$apioutput item=rs key=key}}
        cats.push("{{$key}}");
        catdata.push({{$rs}});
        {{/foreach}}



        $('#{{$id}}_apioutput_chart').highcharts({
        chart: {
            type: 'line'
        },
        title: {
            text: '接口调用输出'
        },
        xAxis: {
            type:"datetime",
            categories: cats
        },
        yAxis: {
            title: {
                text: '单位：字节'
            },
			min:0
        },
        tooltip: {
            valueSuffix: '字节'
        },
        plotOptions: {
            line: {
                dataLabels: {
                    enabled: false
                }
            }
        },
        legend:{
            enabled:false
        },
        series: [{
            name:"统计",
            data: catdata
        }]
    });
















        });
        function bytesToSize(bytes) {  
            if (bytes === 0) return '0 B';  
  
            var k = 1024;  
  
            sizes = ['B','KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];  
  
            i = Math.floor(Math.log(bytes) / Math.log(k));  
  
            return (bytes / Math.pow(k, i)).toFixed(2) + ' ' + sizes[i];   
            //toPrecision(3) 后面保留一位小数，如1.0GB                                                                                                                  //return (bytes / Math.pow(k, i)).toPrecision(3) + ' ' + sizes[i];  
        } 
</script>